{% extends 'base_generic.html' %}
{% load static %}
{% block title %}ACCESO WIFI {% endblock title %}


{% block content_main %}
<!-- Page Heading -->
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Acceso a la red</li>
    </ol>
</nav>
<div class="container-fluid">
    <!-- DataTales -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <div class="row ">
                <div class="col">
                    <h6 class="m-0 font-weight-bold text-primary">Dispositivos con acceso a la red wifi</h6>
                </div>
                <div class="col ">
                    <div class="dropdown float-right">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Acciones
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

                            {% if perms.red.add_accesored %}
                            <a class="dropdown-item" href="{% url 'accesoRed_crear'%}">Nuevo acceso</a>
                            {% endif %}


                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-sm" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>

                            <th><b>USUARIO</b></th>
                            <th><b>DIRECCIÓN MAC</b></th>
                            <th><b>DIRECCIÓN IP</b></th>
                            <th><b>ESTADO</b></th>
                            <th><b>ACCIONES</b></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for acceso in object_list %}
                        <tr>

                            <td>{{ acceso.usuario }}</td>
                            <td>
                                {% if acceso.direccion_mac is none %}
                                <p>-</p>
                                {% else %}
                                {{ acceso.direccion_mac }}
                                {% endif%}
                            </td>
                            <td>
                                {% if acceso.direccion_ip is none %}
                                <p>-</p>
                                {% else %}
                                {{ acceso.direccion_ip }}
                                {% endif%}

                            </td>
                            <td>
                                {% if acceso.estado%}
                                <span class="badge badge-success">Conectado</span>
                                {% else %}
                                <span class="badge badge-danger">No conectado</span>
                                {% endif %}

                            </td>
                            <td>
                                <a class="btn btn-light btn-sm "
                                    onclick="abrirModalDetalle('{% url 'accesoRed_detalle' acceso.id%}')"> <i
                                        class="fa fa-eye"></i>
                                </a>

                                {% if perms.red.change_accesored %}
                                <button id="modalEditarAccesoRed" class="btn btn-light btn-sm"
                                    onclick="abrirModalEditar('{% url 'accesoRed_editar' acceso.id%}')"> <i
                                        class="fa fa-edit"></i>
                                </button>
                                {% endif %}


                                {% if perms.red.delete_accesored %}
                                <a class="btn btn-light btn-sm"
                                    onclick="abrirModalEliminar('{% url 'accesoRed_eliminar' acceso.id%}')"><i
                                        class="fa fa-trash"></i>
                                </a>
                                {% endif %}

                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>


</div>


<!-- Modal Editar -->
<div class="modal fade" id="editar" role="dialog">

</div>

<!-- Modal Eliminar -->
<div class="modal fade" id="eliminar" role="dialog">

</div>

<!-- Large modal -->
<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" id="detalle" aria-hidden="true">

</div>


{% endblock content_main%}


{% block content_extra_js %}

{% endblock content_extra_js %}