{% extends 'base.html' %}
{% block title %}ACCESO WIFE {% endblock title %}


{% block content_main %}
<!-- Page Heading -->
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Acceso a la red</li>
    </ol>
</nav>
<div class="container-fluid">
    <!-- DataTales -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <div class="row ">
                <div class="col">
                    <h6 class="m-0 font-weight-bold text-primary">Dispositivos con acceso a la red wifi</h6>
                </div>
                <div class="col ">
                    <div class="dropdown float-right">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Acciones
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="{% url 'accesoRed_crear'%}">Nuevo acceso</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-sm" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                           
                            <th>Usuario</th>
                            <th>Dirección Mac</th>
                            <th>Dirección IP</th>
                            <th>Estado</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for acceso in object_list %}
                        <tr>
                           
                            <th>{{ acceso.usuario }}</th>
                            <th>{{ acceso.direccion_mac }}</th>
                            <th>{{ acceso.direccion_ip }}</th>
                            <th>
                                {% if acceso.estado%}
                                <span class="badge badge-success">Conectado</span>
                                {% else %}
                                <span class="badge badge-danger">No conectado</span>
                                {% endif %}

                            </th>
                            <th>
                                <a class="btn btn-light btn-sm " href="#"> <i class="fa fa-eye"></i>
                                </a>
                                <button  class="btn btn-light btn-sm" onclick="('{% url 'accesoRed_editar' acceso.id %}')"> <i class="fa fa-edit"></i>
                                </button>
                                <a class="btn btn-light btn-sm" href="#"><i class="fa fa-trash"></i>
                                </a>
                            </th>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>


</div>

  
  <!-- Modal -->
  <div class="modal fade" id="editar" role="dialog" >
    
  </div>

{% endblock content_main%}


{% block content_extra_js %}
    <script type="text/javascript" >
        function abrir_modal_editar(url) {
            var $ = JQuery.noConflict();
            $('#editar').load(url, function () {
                $(this).modal('show');
            });
        }
    </script>
{% endblock content_extra_js %}


