<div class="modal-dialog modal-lg ">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Detalle Registro</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <div class="modal-body">
            <table class="table table-bordered table-responsive-sm table-responsive-xl">
                <tbody>
                  
                    <tr>
                        <th>Usuario:</th>
                        <td >{{object.usuario}}</td>
                        <th>Estado:</th>
                        <td>
                            {% if object.estado%}
                            <span class="badge badge-success">Conectado</span>
                            {% else %}
                            <span class="badge badge-danger">No conectado</span>
                            {% endif %}

                        </td>
                    </tr>
                    <tr>
                        <th>Dirección Mac:</th>
                        <td>
                            {% if object.direccion_mac is none %}
                            <p>-</p>
                            {% else %}
                            {{ object.direccion_mac }}
                            {% endif%}
                        </td>
                        <th>Dirección IP:</th>
                        <td>
                             {% if object.direccion_ip is none %}
                            <p>-</p>
                            {% else %}
                            {{ object.direccion_ip }}
                            {% endif%}
                        </td>
                    </tr>
                    <tr>
                        <th>Observación:</th>
                        <td colspan="4">{{object.observacion}}</td>
                    </tr>
                </tbody>
            </table>
           

        </div>
       
        </form>
    </div>

</div>