{% extends 'base_generic.html' %}
{% load static %}
{% block content_extra_css %}
<link href="{% static 'fonts/dropify.eot'%}">
<link href="{% static 'fonts/dropify.svg'%}">
<link href="{% static 'fonts/dropify.ttf'%}">
<link href="{% static 'fonts/dropify.woff'%}">
<link href="{% static 'css/dropify.min.css'%}" rel="stylesheet">

{% endblock content_extra_css %}

{% block title %}NUEVO{% endblock %}


{% block content_main %}
<!-- Page Heading -->
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Home</a></li>
        <li class="breadcrumb-item"><a href="{% url 'configuracion_listar' %}">configuración</a></li>
        <li class="breadcrumb-item active" aria-current="page">Nuevo</li>
    </ol>
</nav>
<div class="container">

    {% if form.errors %}

    <div class="alert alert-danger" role="alert">
        <h5 class="icon fas fa-bin">Error al guardar el registro!</h5>
        <ul>
            {% for field in form %}
            {% for error in field.errors %}
            <li>
                {{error}}
            </li>
            {% endfor %}
            {% endfor %}
        </ul>

    </div>
    {% endif %}


    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="form-group">
            <label for="id_encargadoTics">{{form.encargadoTics.label}}*</label>
            {{form.encargadoTics}}
        </div>
        <div class="form-group">
            <label for="id_encargadoBienes">{{form.encargadoBienes.label}}*</label>
            {{form.encargadoBienes}}
        </div>
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label for="id_logoIzquierdo">{{form.logoIzquierdo.label}}</label>
                    {{form.logoIzquierdo}}
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label for="id_logocentro">{{form.logocentro.label}}</label>
                    {{form.logocentro}}
                </div>

            </div>

        </div>
        <div class="col">
            <div class="form-group">
                <label for="id_logoDerecho">{{form.logoDerecho.label}}</label>
                {{form.logoDerecho}}
            </div>
        </div>

        <fieldset class="modal-footer">
            <a type="button" class="btn btn-secondary" href="{% url 'configuracion_listar' %}">Cancelar</a>
            <button type="submit" class="btn  btn-primary">Guardar Registro</button>
        </fieldset>
    </form>
</div>

{% endblock %}


{% block content_extra_js %}
<script src="{% static 'js/dropify.min.js' %}"></script>
<script>
    $(function () {

        $('.dropify').dropify({
            tpl: {
                wrap: '<div class="dropify-wrapper"></div>',
                loader: '<div class="dropify-loader"></div>',
                message: '<div class="dropify-message"><span class="file-icon" /> <h5> Arrastre y suelte un archivo aquí o haga clic.</h5></div>',
                preview: '<div class="dropify-preview"><span class="dropify-render"></span><div class="dropify-infos"><div class="dropify-infos-inner"><p class="dropify-infos-message">Reemplazar</p></div></div></div>',
                filename: '<p class="dropify-filename"><span class="file-icon"></span> <span class="dropify-filename-inner"></span></p>',
                clearButton: '<button type="button" class="dropify-clear">remover </button>',
                errorLine: '<p class="dropify-error">error</p>',
                errorsContainer: '<div class="dropify-errors-container"><ul></ul></div>'
            }
        });

    });
</script>

<script>
    $(function () {
        $('.select').select2(
            { theme: "bootstrap4", }
        );
    });


</script>


{% endblock content_extra_js %}