{% load static %}
<link href="{% static 'fonts/dropify.eot'%}">
<link href="{% static 'fonts/dropify.svg'%}">
<link href="{% static 'fonts/dropify.ttf'%}">
<link href="{% static 'fonts/dropify.woff'%}">
<link href="{% static 'css/dropify.min.css'%}" rel="stylesheet">
<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Editar Registro</h5>

            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>


        </div>
        {% if form.errors %}

        <div class="alert alert-danger" role="alert">
            <h5 class="icon fas fa-bin">Error al guardar el registro!</h5>
            <ul>
                {% for field in form %}
                {% for error in field.errors %}
                <li>
                    {{error}}
                </li>
                {% endfor %}
                {% endfor %}
            </ul>

        </div>
        {% endif %}



        <form action="{% url 'configuracion_editar' object.id %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}

            <div class="modal-body">
                <div class="form-group">
                    <label for="id_encargadoTics">{{form.encargadoTics.label}}*</label>
                    {{form.encargadoTics}}
                </div>
                <div class="form-group">
                    <label for="id_encargadoBienes">{{form.encargadoBienes.label}}*</label>
                    {{form.encargadoBienes}}
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label for="id_logoIzquierdo">{{form.logoIzquierdo.label}}</label>
                            {{form.logoIzquierdo}}
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label for="id_logocentro">{{form.logocentro.label}}</label>
                            {{form.logocentro}}
                        </div>

                    </div>
                 
                </div>
                <div class="col">
                    <div class="form-group">
                        <label for="id_logoDerecho">{{form.logoDerecho.label}}</label>
                        {{form.logoDerecho}}
                    </div>
                </div>
               
            
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary">Guardar cambios</button>
                </div>
        </form>
    </div>
</div>

<script>
    $(function () {
        $('.select').select2(
            { theme: "bootstrap4", }
        );
    });


</script>



<script src="{% static 'js/dropify.min.js' %}"></script>
<script>
    $(function () {
        $('#id_area').select2();
        $('#id_cargo').select2();
        $('#id_unidadAtencion').select2();
        $('.dropify').dropify({
            tpl: {
                wrap: '<div class="dropify-wrapper"></div>',
                loader: '<div class="dropify-loader"></div>',
                message: '<div class="dropify-message"><span class="file-icon" /> <h5> Arrastre y suelte un archivo aquí o haga clic.</h5></div>',
                preview: '<div class="dropify-preview"><span class="dropify-render"></span><div class="dropify-infos"><div class="dropify-infos-inner"><p class="dropify-infos-message">Reemplazar</p></div></div></div>',
                filename: '<p class="dropify-filename"><span class="file-icon"></span> <span class="dropify-filename-inner"></span></p>',
                clearButton: '<button type="button" class="dropify-clear">remover </button>',
                errorLine: '<p class="dropify-error">error</p>',
                errorsContainer: '<div class="dropify-errors-container"><ul></ul></div>'
            }
        });

    });
</script>