media
actividad/migrations/
capacitacion/migrations/
configuracion/migrations/
custodia/migrations/
empleado/migrations/
inventario/migrations/
practica/migrations/
red/migrations/
ubicacion/migrations/