[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
psycopg2 = "*"
pillow = "*"
xhtml2pdf = "*"
django-xhtml2pdf = "*"
openpyxl = "*"

[dev-packages]

[requires]
python_version = "3.7"
