<div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Editar Registro</h5>
           
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
          
  
        </div>
        {% if form.errors %}
  
        <div class="alert alert-danger" role="alert">
            <h5 class="icon fas fa-bin">Error al guardar el registro!</h5>
            <ul>
                {% for field in form %}
                    {% for error in field.errors %}
                    <li>
                        {{error}}
                    </li>
                    {% endfor %}
                {% endfor %}
            </ul>
  
        </div>
        {% endif %}
        
        
        
        <form action="{% url 'area_editar' object.id %}" method="post">
            {% csrf_token %}
            
            <div class="modal-body">
                <div class="form-group">
                    <label for="id_distrito">{{form.distrito.label}}*</label>
                    {{form.distrito}}
                </div>
                <div class="form-group">
                    <label for="id_descripcion">{{form.descripcion.label}}*</label>
                    {{form.descripcion}}
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="submit" class="btn btn-primary">Guardar cambios</button>
            </div>
        </form>
    </div>
  </div>

  {% block content_extra_js %}
<script>
    $(function(){
        $('#id_distrito').select2();
       
    });

    $(function () {
        $('.select').select2(
            { theme: "bootstrap4", }
        );
    });
</script>
{% endblock content_extra_js %}