{% extends 'base_generic.html' %}
{% block title %}NUEVA ÁREA{% endblock %}


{% block content_main %}
<!-- Page Heading -->
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Home</a></li>
        <li class="breadcrumb-item"><a href="{% url 'area_listar' %}">Área</a></li>
        <li class="breadcrumb-item active" aria-current="page">Nuevo</li>
    </ol>
</nav>
<div class="row">

</div>
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">

        {% if form.errors %}

        <div class="alert alert-danger" role="alert">
            <h5 class="icon fas fa-bin">Error al guardar el registro!</h5>
            <ul>
                {% for field in form %}
                {% for error in field.errors %}
                <li>
                    {{error}}
                </li>
                {% endfor %}
                {% endfor %}
            </ul>

        </div>
        {% endif %}


        <form method="post">
            {% csrf_token %}

            <div class="form-group">
                {{form.distrito.label}}
                {{form.distrito}}
            </div>
            <div class="form-group">
                {{form.descripcion.label}}
                {{form.descripcion}}
            </div>



            <fieldset class="modal-footer">
                <a type="button" class="btn btn-secondary" href="{% url 'area_listar' %}">Cancelar</a>
                <button type="submit" class="btn  btn-primary">Guardar Registro</button>
            </fieldset>
        </form>
    </div>
    <div class="col-md-3"></div>
</div>

{% endblock %}



{% block content_extra_js %}
<script>
    $(function(){
        $('#id_distrito').select2();
       
    });
</script>
{% endblock content_extra_js %}


