{% extends 'base_generic.html' %}
{% load static %}
{% block content_extra_css %}
<link href="{% static 'fonts/dropify.eot'%}">
<link href="{% static 'fonts/dropify.svg'%}">
<link href="{% static 'fonts/dropify.ttf'%}">
<link href="{% static 'fonts/dropify.woff'%}">
<link href="{% static 'css/dropify.min.css'%}" rel="stylesheet">

{% endblock content_extra_css %}

{% block title %}NUEVO EMPLEADO{% endblock %}


{% block content_main %}
<!-- Page Heading -->
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Home</a></li>
        <li class="breadcrumb-item"><a href="{% url 'empleado_listar' %}">Nómina empleados</a></li>
        <li class="breadcrumb-item active" aria-current="page">Nuevo</li>
    </ol>
</nav>

<div class="row">

</div>
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">

        {% if form.errors %}

        <div class="alert alert-danger" role="alert">
            <h5 class="icon fas fa-bin">Error al guardar el registro!</h5>
            <ul>
                {% for field in form %}
                {% for error in field.errors %}
                <li>
                    {{error}}
                </li>
                {% endfor %}
                {% endfor %}
            </ul>

        </div>
        {% endif %}

        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}

            <div class="form-row">
                <div class="form-group col-md-6">
                    {{form.nombres.label}}
                    {{form.nombres}}
                </div>
                <div class="form-group col-md-6">
                    {{form.apellidos.label}}
                    {{form.apellidos}}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    {{form.cedula.label}}
                    {{form.cedula}}
                </div>
                <div class="form-group col-md-6">
                    {{form.telefono.label}}
                    {{form.telefono}}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    {{form.correo.label}}
                    {{form.correo}}
                </div>
                <div class="form-group col-md-6">
                    {{form.genero.label}}
                    {{form.genero}}
                </div>
               
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        {{form.foto.label}}
                        {{form.foto}}
                    </div>

                </div>

            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        {{form.area.label}}
                        {{form.area}}
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        {{form.cargo.label}}
                        {{form.cargo}}
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group mt-4">
                        <div class="form-check">
                            <label for="id_estado">{{form.estado.label}}</label>
                            {{form.estado}}
                        </div>
                    </div>
                </div>

                
    
            </div>
            <div class="row">
                <div class="col">
                    <div class="col">
                        <div class="form-group form-check">
                            <input class="form-check-input" type="checkbox" value="" id="id_tieneUnidad" name="tieneUnidad"
                                onclick="ocultarCampos()">
                            <label class="form-check-label" for="id_tieneUnidad" >
                                tiene unidad de atención?
                            </label>
    
                        </div>  
                    </div>
                    <div class="col">
                        <div class="form-group" id="id_div_unidadAtencion" style='position:relative;display:none'>
                            {{form.unidadAtencion.label}}
                            {{form.unidadAtencion}}
                        </div>
                    </div>

                </div>
            </div>

           

            <fieldset class="modal-footer">
                <a type="button" class="btn btn-secondary" href="{% url 'empleado_listar' %}">Cancelar</a>
                <button type="submit" class="btn  btn-primary">Guardar Registro</button>
            </fieldset>
        </form>
    </div>
    <div class="col-md-1"></div>

</div>

{% endblock %}



{% block content_extra_js %}
<script src="{% static 'js/dropify.min.js' %}"></script>
<script>
    $(function () {
        $('#id_area').select2();
        $('#id_cargo').select2();
        $('#id_unidadAtencion').select2();
        $('.dropify').dropify({
            tpl: {
                wrap: '<div class="dropify-wrapper"></div>',
                loader: '<div class="dropify-loader"></div>',
                message: '<div class="dropify-message"><span class="file-icon" /> <h5> Arrastre y suelte un archivo aquí o haga clic.</h5></div>',
                preview: '<div class="dropify-preview"><span class="dropify-render"></span><div class="dropify-infos"><div class="dropify-infos-inner"><p class="dropify-infos-message">Reemplazar</p></div></div></div>',
                filename: '<p class="dropify-filename"><span class="file-icon"></span> <span class="dropify-filename-inner"></span></p>',
                clearButton: '<button type="button" class="dropify-clear">remover </button>',
                errorLine: '<p class="dropify-error">error</p>',
                errorsContainer: '<div class="dropify-errors-container"><ul></ul></div>'
            }
        });

    });
</script>




<script>


    function ocultarCampos() {
        var div = document.getElementById("id_div_unidadAtencion");
        if ($('#id_tieneUnidad').prop('checked')) {
            div.style.display = "block";
            console.log("Checkbox seleccionado");
        } else {
            div.style.display = "none";
            console.log("Checkbox no  seleccionado");
        }
    }
</script>


{% endblock content_extra_js %}