{% extends 'base_generic.html' %}
{% load static %}
{% block title %}NUEVO PASANTE{% endblock %}


{% block content_main %}
<!-- Page Heading -->
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Home</a></li>
        <li class="breadcrumb-item"><a href="{% url 'pasante_listar' %}">Pasantes</a></li>
        <li class="breadcrumb-item active" aria-current="page">Nuevo</li>
    </ol>
</nav>

<div class="container">

    {% if form.errors %}

    <div class="alert alert-danger" role="alert">
        <h5 class="icon fas fa-bin">Error al guardar el registro!</h5>
        <ul>
            {% for field in form %}
            {% for error in field.errors %}
            <li>
                {{error}}
            </li>
            {% endfor %}
            {% endfor %}
        </ul>

    </div>
    {% endif %}

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="row">
            <div class="form-group col-md-4">
                <label for="id_nomnbres">{{form.nombres.label}}*</label>
                {{form.nombres}}
            </div>
            <div class="form-group col-md-4">
               <label for="id_apellidos"> {{form.apellidos.label}}*</label>
                {{form.apellidos}}
            </div>
            <div class="form-group col-md-4">
                <label for="id_cedula">{{form.cedula.label}}*</label>
                {{form.cedula}}
            </div>
        </div>
        <div class="row">
           
            <div class="form-group col-md-4">
                <label for="id_telefono">{{form.telefono.label}}</label>
                {{form.telefono}}
            </div>
            <div class="form-group col-md-4">
                <label for="id_tutor_profesional">{{form.tutor_profesional.label}}*</label>
                {{form.tutor_profesional}}
            </div>
            <div class="form-group col-md-4">
                <label for="id_horas_diariras">{{form.horas_diarias.label}}*</label>
                {{form.horas_diarias}}
            </div>
        </div>
       
        <div class="row">
            <div class="form-group col-md-6">
                
                <label for="id_universidad">Universidad</label>
                <label for="id_universidad">{{form.universidad.label}}</label>
                {{form.universidad}}
            </div>
           
            <div class="form-group col-md-6">
                <label for="id_carrera">Carrera*</label>
                <select name="carrera" id="id_carrera" class="form-control select">
                    <option value="0">---------</option>
                    {% for item in carreras %}
                    <option value="{{item.id}}" class="{{item.universidad.id}}">{{item.descripcion}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-4">
                <label for="id_fecha_inicio">{{form.fecha_inicio.label}}*</label>
                {{form.fecha_inicio}}
            </div>
            <div class="form-group col-md-4">
                <label for="id_fecha_fin">{{form.fecha_fin.label}}*</label>
                {{form.fecha_fin}}
            </div>
            <div class="form-group col-md-4">
                <label for="id_estado">{{form.estado.label}}*</label>
                {{form.estado}}
            </div>
            

        </div>

        <fieldset class="modal-footer">
            <a type="button" class="btn btn-secondary" href="{% url 'pasante_listar' %}">Cancelar</a>
            <button type="submit" class="btn  btn-primary">Guardar Registro</button>
        </fieldset>
    </form>
</div>

{% endblock %}

{% block content_extra_js %}

<script>
    $(function () {

        $("#id_carrera").chained("#id_universidad");
    });

</script>


{% endblock content_extra_js %}