{% extends 'base_generic.html' %}
{% load static %}
{% block title %}ACCESO PASANTE {% endblock title %}


{% block content_main %}
<!-- Page Heading -->
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Pasante</li>
    </ol>
</nav>
<div class="container-fluid">
    <!-- DataTales -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <div class="row ">
                <div class="col">
                    <h6 class="m-0 font-weight-bold text-primary">Lista pasantes</h6>
                </div>
                <div class="col ">
                    <div class="dropdown float-right">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Acciones
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

                            {% if perms.practica.add_pasante %}
                            <a class="dropdown-item" href="{% url 'pasante_crear'%}">Nuevo pasante</a>
                            {% endif %}


                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-sm" id="dataTable" width="90%" cellspacing="0">
                    <thead>
                        <tr>
                            <th><b>NOMBRES</b></th>
                            <th><b>APELLIDOS</b></th>
                            <th><b>CÉDULA</b></th>
                            <th><b>TELÉFONO MÓVIL</b></th>
                            <th><b>CARRERA</b></th>
                            <th><b>TUTOR PROFESIONAL</b></th>
                        
                            <th><b>ESTADO</b></th>
                            <th><b>ACCIONES</b></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for pasante in pasante_list %}
                        <tr>

                            <td>{{ pasante.nombres }}</td>
                            <td>{{ pasante.apellidos }}</td>
                            <td>{{ pasante.cedula }}</td>
                            <td>{{ pasante.telefono }}</td>
                            <td>{{ pasante.carrera }}</td>
                            <td>{{ pasante.tutor_profesional }}</td>
                            
                            <td>
                                {% if pasante.estado%}
                                <span class="badge badge-success">Completo</span>
                                {% else %}
                                <span class="badge badge-danger">Incompleto</span>
                                {% endif %}

                            </td>
                            <td>
                                <a class="btn btn-light btn-sm "
                                    onclick="abrirModalDetalle('{% url 'pasante_detalle' pasante.id%}')"> <i
                                        class="fa fa-eye"></i>
                                </a>
                                {% if perms.practica.change_pasante %}
                                <button id="modalEditarAccesoRed" class="btn btn-light btn-sm"
                                    onclick="abrirModalEditar('{% url 'pasante_editar' pasante.id%}')"> <i
                                        class="fa fa-edit"></i>
                                </button>
                                {% endif %}


                                {% if perms.practica.delete_pasante %}
                                <a class="btn btn-light btn-sm"
                                    onclick="abrirModalEliminar('{% url 'pasante_eliminar' pasante.id%}')"><i
                                        class="fa fa-trash"></i>
                                </a>
                                {% endif %}


                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>


</div>


<!-- Modal Editar -->
<div class="modal fade" id="editar" role="dialog">

</div>

<!-- Modal Eliminar -->
<div class="modal fade" id="eliminar" role="dialog">

</div>

<!-- Large modal -->
<div class="modal fade" tabindex="-1" role="dialog" id="detalle" aria-hidden="true">

</div>


{% endblock content_main%}


{% block content_extra_js %}
<script src="{% static 'js/funciones_mies.js' %}"></script>
{% endblock content_extra_js %}