{% extends 'base_generic.html' %}
{% block title %}Panel de control{% endblock %}


{% block content_main %}
<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- 404 Error Text -->
    <div class="text-center">
        <div class="error mx-auto" data-text="403">403</div>
        <p class="lead text-gray-800 mb-5">Acceso Denegado</p>
        <p class="text-gray-500 mb-0">Lo sentimos usted no tiene Acceso a este Módulo, ups!...</p>
        <a href="{% url 'dashboard' %}">&larr; Regresar al Menú Principal </a>
    </div>

</div>
<!-- /.container-fluid -->

{% endblock %}
