<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Fuentes Peralta Nelson Kevin">
    <title>SEIM - {% block title %}{% endblock %} </title>
    {% load static %}
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">
    <!-- Custom fonts for this template-->
    <link href="{% static 'vendor/fontawesome-free/css/all.min.css'%}" rel="stylesheet" type="text/css">
    <!-- Custom styles for this template-->
    <link href="{% static 'css/sb-admin-2.min.css'%}" rel="stylesheet">
    <link href="{% static 'js/jquery-ui.min.css'%}" rel="stylesheet">
  
   
    <!-- Custom styles for this page -->
    <link href="{% static 'vendor/datatables/dataTables.bootstrap4.min.css'%}" rel="stylesheet">
    
    
    <link rel="stylesheet" href="{% static 'touchSpin/jquery.bootstrap-touchspin.min.css'%}">
    <link rel="stylesheet" href="{% static 'touchSpin/jquery-confirm.min.css'%}">
    
    <link href="{% static 'css/select2.min.css'%}" rel="stylesheet">
</head>


<body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">
        <!-- Sidebar  menu izqquiero inicio-->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{%url 'dashboard'%}">
                <div class="sidebar-brand-icon rotate-n-15">

                </div>
                <div class="sidebar-brand-text mx-3">System Seim</sup></div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">



            
            {% if user.is_staff %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'admin:index' %}" target="_blank">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Administración Django</span></a>
            </li>
            {% endif %}
                

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Módulo Principal
            </div>



            <!-- Nav Item - Empleado Collapse Menu -->
            
            {% if  perms.empleado.view_empleado or  perms.empleado.view_area or perms.empleado.view_cargo or perms.empleado.view_unidadatencion%}
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseEmppleado"
                    aria-expanded="true" aria-controls="collapseEmppleado">
                    <i class="fas fa-users"></i>
                    <span>Empleado</span>
                </a>
                <div id="collapseEmppleado" class="collapse" aria-labelledby="headingTwo"
                    data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">

                        
                        {% if  perms.empleado.view_empleado %}
                        <a class="collapse-item" href="{% url 'empleado_listar' %}"><i class="fas fa-caret-right"></i>
                            Empleado</a>
                        {% endif %}
                            
                        
                        {% if perms.empleado.view_area %}
                        <a class="collapse-item" href="{% url 'area_listar' %}"><i class="fas fa-caret-right"></i>
                            Área</a>
                        {% endif %}
                            
                        
                        {% if perms.empleado.view_cargo %}
                        <a class="collapse-item" href="{% url 'cargo_listar' %}"><i class="fas fa-caret-right"></i>
                            Cargo</a>
                        {% endif %}
                            
                        
                        {% if perms.empleado.view_unidadatencion %}
                        <a class="collapse-item" href="{% url 'unidad_listar' %}"><i class="fas fa-caret-right"></i>
                            Unidad de Atención</a>
                        {% endif %}
                            

                    </div>
                </div>
            </li>
            {% endif %}
                
            


           
           {% if perms.inventario.view_marca or perms.inventario.view_modelo or perms.inventario.view_categoria or  perms.inventario.view_condicion   or  perms.inventario.view_capacidaddisco or perms.inventario.view_capacidadmemoriaram or perms.inventario.view_procesador or perms.inventario.view_inventariotics %}
                <!-- Nav Item - Inventario Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseInventarioTics"
                    aria-expanded="true" aria-controls="collapseInventarioTics">
                    <i class="fas fa-th-list"></i>
                    <span>Inventarios</span>
                </a>
                <div id="collapseInventarioTics" class="collapse" aria-labelledby="headingTwo"
                    data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        
                        {% if perms.inventario.view_marca %}
                            
                        <a class="collapse-item" href="{% url 'marca_listar' %}"><i class="fas fa-caret-right"></i>
                            Marca</a>
                        {% endif %}
                        
                        {% if perms.inventario.view_modelo %}
                        <a class="collapse-item" href="{% url 'modelo_listar' %}"><i class="fas fa-caret-right"></i>
                            Modelo</a>
                        {% endif %}
                            
                        
                        
                        {% if  perms.inventario.view_categoria %}
                        <a class="collapse-item" href="{% url 'categoria_listar' %}"><i class="fas fa-caret-right"></i>
                            Categoría</a>
                        {% endif %}
                            
                        
                        {% if perms.inventario.view_condicion %}
                        <a class="collapse-item" href="{% url 'condicion_listar' %}"><i class="fas fa-caret-right"></i>
                            Condición</a>
                        {% endif %}
                            
                        
                        {% if perms.inventario.view_capacidaddisco %}
                        <a class="collapse-item" href="{% url 'capacidad_disco_listar' %}"><i
                            class="fas fa-caret-right"></i> Capacidad Disco</a>
                        {% endif %}
                            
                        
                        {% if perms.inventario.view_capacidadmemoriaram %}
                        <a class="collapse-item" href="{% url 'capacidad_memoria_ram_listar' %}"><i
                            class="fas fa-caret-right"></i> Capacidad Ram</a>
                        {% endif %}
                            
                        
                        {% if perms.inventario.view_procesador %}
                        <a class="collapse-item" href="{% url 'procesador_listar' %}"><i class="fas fa-caret-right"></i>
                            Procesador</a>
                        {% endif %}
                            
                        
                        {% if  perms.inventario.view_inventariotics %}
                        <a class="collapse-item" href="{% url 'inv_tics_listar' %}"><i class="fas fa-caret-right"></i>
                            Inventario Tics</a>
                        {% endif %}

                        
                        <a class="collapse-item" href="{% url 'det_cab_listar' %}"><i class="fas fa-caret-right"></i>
                            Inventario Distrito</a>
                        
                            
                    </div>
                </div>
            </li>
           {% endif %}
               


            
            {% if  perms.atencion.view_atencion %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'atencion_listar' %}">
                    <i class="fas fa-fw fa-table"></i>
                    <span>Atención</span></a>
            </li>
            {% endif %}

            {% if  perms.custodio.view_custodio%}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'custodio_listar' %}">
                    <i class="fas fa-fw fa-table"></i>
                    <span>Equipo-Custodio</span></a>
            </li>
            {% endif %}
                
            <!-- Heading -->
            <div class="sidebar-heading">
                Módulo adicionales
            </div>
            <!-- Nav Item - Practicas Profesionalizantes  Collapse Menu -->
           
           {% if perms.practica.view_pasante or perms.practica.view_carrera or perms.practica.view_universidad %}
           <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePracticas"
                aria-expanded="true" aria-controls="collapsePracticas">
                <i class="fas fa-cubes"></i>
                <span>Prácticas Profesionales</span>
            </a>
            <div id="collapsePracticas" class="collapse" aria-labelledby="headingTwo"
                data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">

                    
                    {% if perms.practica.view_pasante %}
                    <a class="collapse-item" href="{% url 'pasante_listar' %}"><i class="fas fa-caret-right"></i>
                        Pasantes</a>
                    {% endif %}
                        
                    
                    {% if  perms.practica.view_carrera %}
                    <a class="collapse-item" href="{% url 'carrera_listar' %}"><i class="fas fa-caret-right"></i>
                        Carreras</a>
                    {% endif %}
                        
                    
                    {% if perms.practica.view_universidad %}
                    <a class="collapse-item" href="{% url 'universidad_listar' %}"><i
                        class="fas fa-caret-right"></i> Universidades</a>
                    {% endif %}
                        
                </div>
            </div>
        </li>

           {% endif %}
               

            <!-- Nav Item - Otros Menu -->
            
            {% if perms.red.view_accesored or perms.prestamo.view_prestamo %}
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseAccesoRed"
                    aria-expanded="true" aria-controls="collapseAccesoRed">
                    <i class="fas fa-clone"></i>
                    <span>Otros</span>
                </a>
                <div id="collapseAccesoRed" class="collapse" aria-labelledby="headingTwo"
                    data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        
                        {% if perms.red.view_accesored %}
                        <a class="collapse-item" href="{% url 'accesoRed_listar' %}"><i class="fas fa-caret-right"></i>
                            Acceso a la Red</a>
                        {% endif %}
                            
                        
                        {% if perms.prestamo.view_prestamo %}
                        <a class="collapse-item" href="{% url 'prestamo_listar' %}"><i class="fas fa-caret-right"></i>
                            Préstamo</a>
                        {% endif %}
                            
                    </div>
                </div>
            </li>

            {% endif %}

             <!-- Nav Item - Actividades  Collapse Menu -->
             
             {% if perms.actividad.view_actividadcabecera %}
             <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseActividades"
                    aria-expanded="true" aria-controls="collapseActividades">
                    <i class="fas fa-fw fa-table"></i>
                    <span>Actividad</span>
                </a>
                <div id="collapseActividades" class="collapse" aria-labelledby="headingTwo"
                    data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">

                        
                        {% if perms.actividad.view_actividadcabecera %}
                        <a class="collapse-item" href="{% url 'actividad_listar' %}"><i class="fas fa-caret-right"></i>
                            Actividades</a>
                        {% endif %}
                            
                        {% if perms.actividad.view_prioridad %}
                        <a class="collapse-item" href="{% url 'prioridad_listar' %}"><i class="fas fa-caret-right"></i>
                            Prioridades</a>
                        {% endif %}
                        
                        {% if perms.actividad.view_asunto %}
                        <a class="collapse-item" href="{% url 'asunto_listar' %}"><i class="fas fa-caret-right"></i>
                            Asuntos</a>
                        {% endif %}

                        
                    </div>
                </div>
            </li>
             {% endif %}
                 
                
            <!-- Nav Item - Ubicación Collapse Menu -->
            
            {% if perms.ubicacion.view_zona or perms.ubicacion.view_provincia or perms.ubicacion.view_distrito %}
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUbicacionDistrital"
                    aria-expanded="true" aria-controls="collapseUbicacionDistrital">
                    <i class="fas fa-globe"></i>
                    <span>Ubicación</span>
                </a>
                <div id="collapseUbicacionDistrital" class="collapse" aria-labelledby="headingTwo"
                    data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">

                        
                        {% if perms.ubicacion.view_zona %}
                        <a class="collapse-item" href="{% url 'zona_listar' %}"><i class="fas fa-caret-right"></i>
                            Zona</a>
                        {% endif %}
                            
                        
                        {% if perms.ubicacion.view_provincia %}
                        <a class="collapse-item" href="{% url 'provincia_listar' %}"><i class="fas fa-caret-right"></i>
                            Provincia</a>
                        {% endif %}
                            
                        
                        {% if perms.ubicacion.view_distrito %}
                        <a class="collapse-item" href="{% url 'distrito_listar' %}"><i class="fas fa-caret-right"></i>
                            Distrito</a>
                        {% endif %}
                            
                    </div>
                </div>
            </li>
            {% endif %}
                



            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

        </ul>
        <!-- End of Sidebar menu izquiero fin-->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar --menu arriba -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>



                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                        <li class="nav-item dropdown no-arrow d-sm-none">

                        </li>

                        <div class="topbar-divider d-none d-sm-block">

                        </div>

                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">
                                    <strong>Hola, Bienvenido </strong>  {{user.last_name}} {{user.first_name}}
                                </span>
                                <img class="img-profile rounded-circle" src= "{% static 'img/undraw_profile.svg' %}">

                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="userDropdown">
                              

                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{% url 'logout'%}">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Cerrar Sesión
                                </a>
                            </div>
                        </li>

                    </ul>

                </nav>
                <!-- End of Topbar fin menu arriba -->

                <!-- Begin Page Content --cambiaria contenido -->
                <div class="container-fluid">
                    {% block content_main %}

                    {% endblock %}
                </div>
                <!-- /.container-fluid fin de cambiaria contenido -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer pie de pagina inicio -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Unemi-Ingeniería en Sistemas Computacionales - 2021</span>

                    </div>
                    <div class="copyright text-center my-auto">

                        <span>Desarrolladores: <a
                                href="https://www.linkedin.com/in/kevin-fuentes-peralta-801b65187">Fuentes Nelson</a>,
                            <a href="https://www.linkedin.com/in/ariana-odalis-olea-cortez-784a71208">Olea
                                Ariana</a></span>

                    </div>
                </div>
            </footer>
            <!-- End of Footer fin de pie de pagina -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>


    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>
    <script src="{% static 'js/sb-admin-2.min.js' %}"></script>
    <!-- Page level plugins -->
    <script src="{% static 'vendor/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>
    <!-- Page level custom scripts -->
    <script src="{% static 'js/demo/datatables-demo.js' %}"></script>
    <script src="{% static 'js/jquery-ui.min.js' %}"></script>


     <script src="{% static 'vendor/fontawesome-free/js/all.min.js' %}"></script>
     
     <script src="{% static 'touchSpin/jquery.bootstrap-touchspin.min.js' %}"></script>
     <script src="{% static 'touchSpin/jquery-confirm.min.js' %}"></script>

     <script src="{% static 'js/select2.min.js' %}"></script>
     

    {% block content_extra_js %}

    {% endblock content_extra_js %}






</body>


</html>