{% extends 'base_atencion_reporte_pdf.html' %}
{% block content %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>

<HEAD>

    <TITLE>RECEPCIÓN-DM-09D17-TIC-MIES- {{object.id}}</TITLE>


</HEAD>

<BODY LANG="en-US" DIR="LTR">

    <P LANG="en-US" CLASS="western" ALIGN=RIGHT>
        <FONT SIZE=5 STYLE="font-size: 11pt"><U><B>DM-09D17-TIC-MIES</B></U></FONT>
    </P>
    <P LANG="en-US" CLASS="western">
    </P>
    <P LANG="en-US" CLASS="western" ALIGN=CENTER>
        <FONT SIZE=2 STYLE="font-size: 11pt">
            <FONT SIZE=4 STYLE="font-size: 16pt"><U><B>ACTA
                        DE ENTREGA– RECEPCIÓN</B></U></FONT>
        </FONT>
    </P>
    <P LANG="en-US" CLASS="western" ALIGN=JUSTIFY>
    </P>
    <P LANG="en-US" CLASS="western" ALIGN=JUSTIFY>
        <FONT SIZE=2 STYLE="font-size: 11pt">
            <FONT SIZE=4>En
                la ciudad de Milagro a los {{ object.fecha_salida.day}} días del mes de 
                {% if object.fecha_salida.month == 1  %}
                <span >Enero</span>
                {% endif %}
                {% if object.fecha_salida.month == 2  %}
                <span >Febrero</span>
                {% endif %}
                {% if object.fecha_salida.month == 3  %}
                <span >Marzo</span>
                {% endif %}
                {% if object.fecha_salida.month == 4  %}
                <span >Abril</span>
                {% endif %}
                {% if object.fecha_salida.month == 5  %}
                <span >Mayo</span>
                {% endif %}
                {% if object.fecha_salida.month == 6  %}
                <span >Junio</span>
                {% endif %}
                {% if object.fecha_salida.month == 7  %}
                <span >Julio</span>
                {% endif %}
                {% if object.fecha_salida.month == 8  %}
                <span >Agosto</span>
                {% endif %}
                {% if object.fecha_salida.month == 9  %}
                <span >Septiembre</span>
                {% endif %}
                {% if object.fecha_salida.month == 10  %}
                <span >Octubre</span>
                {% endif %}
                {% if object.fecha_salida.month == 11  %}
                <span >Noviembre</span>
                {% endif %}
                {% if object.fecha_salida.month == 12  %}
                <span >Diciembre</span>
                {% endif %}
                del {{ object.fecha_salida.year }}, se
                procede a la ENTREGA de {{object.equipo.equipo.categoria}} , entre las siguientes personas, por
                una parte quien RECIBE ING. {{object.responsable}}  </FONT>
            <FONT SIZE=4><B>RESPONSABLE
                    ENCARGADO DE TICS </B></FONT>
            <FONT SIZE=4>de la DIRECCION DISTRITAL
                MILAGRO MIES/ZONA 5, y por otro lado quien ENTREGA {{object.equipo.equipo.responsable}} con
            </FONT>
            <FONT SIZE=4><B>CI: {{object.equipo.equipo.responsable.cedula}}</B></FONT>
            <FONT SIZE=4>
                {{object.equipo.responsable.cargo}}.</FONT>
        </FONT>
    </P>
    <P LANG="en-US" CLASS="western" ALIGN=JUSTIFY><BR>
    </P>
    <!---->
    <table width="600" cellpadding="7" cellspacing="0">
        <colgroup>
            <col width="40">
            <col width="90">
            <col width="90">
            <col width="90">
            <col width="90">
            <col width="60">
        </colgroup>
        <tbody>
            <tr valign="TOP">
                <td width="40"
                    style="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                    <p lang="en-US" class="western">
                        <font size="3" style="font-size: 11pt"><b>#</b></font>
                    </p>
                </td>
                <td width="90"
                    style="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                    <p lang="en-US" class="western">
                        <font size="3" style="font-size: 11pt"><b>BIEN</b></font>
                    </p>
                </td>
                <td width="90"
                    style="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                    <p lang="en-US" class="western">
                        <font size="3" style="font-size: 11pt"><b>MARCA</b></font>
                    </p>
                </td>
                <td width="90"
                    style="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                    <p lang="en-US" class="western">
                        <font size="3" style="font-size: 11pt"><b>SERIE</b></font>
                    </p>
                </td>
                <td width="90"
                    style="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                    <p lang="en-US" class="western">
                        <font size="3" style="font-size: 11pt"><b>MODELO</b></font>
                    </p>
                </td>
                <td width="60"
                    style="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                    <p lang="en-US" class="western">
                        <font size="3" style="font-size: 11pt"><b>ESTADO</b></font>
                    </p>
                </td>
            </tr>

            <tr valign="TOP">
                <td width="40"
                    style="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                    <p lang="en-US" class="western">1
                    </p>
                </td>
                <td width="90"
                    style="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                    <p lang="en-US" class="western">
                        {{object.equipo.equipo.categoria}}
                    </p>
                </td>
                <td width="90"
                    style="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                    <p lang="en-US" class="western">
                        {{object.equipo.equipo.marca}}
                    </p>
                </td>
                <td width="90"
                    style="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                    <p lang="en-US" class="western">
                        {{object.equipo.equipo.serie}}
                    </p>
                </td>
                <td width="90"
                    style="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                    <p lang="en-US" class="western">
                        {{object.equipo.equipo.modelo}}
                    </p>
                </td>
                <td width="60"
                    style="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                    <p lang="en-US" class="western">
                        {{object.equipo.equipo.condicion}}
                    </p>
                </td>
            </tr>

            {% for a in items %}
            <tr valign="TOP">
                <td width="40"
                    style="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                    <p lang="en-US" class="western">
                        {{a.cantidad}}
                    </p>
                </td>
                <td width="90"
                    style="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                    <p lang="en-US" class="western">
                        {{a.pieza}}
                    </p>
                </td>
                <td width="100"
                    style="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                    <p lang="en-US" class="western">
                        {% if a.pieza.marca is none %}
                    <p>N/A</p>
                    {% else %}
                    {{a.pieza.marca}}
                    {% endif%}

                    </p>
                </td>
                <td width="100"
                    style="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                    <p lang="en-US" class="western">
                        {% if a.pieza.serie is none %}
                    <p>N/A</p>
                    {% else %}
                    {{a.pieza.serie}}
                    {% endif%}

                    </p>
                </td>
                <td width="100"
                    style="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                    <p lang="en-US" class="western">
                        {% if a.pieza.modelo is none %}
                        <p>N/A</p>
                        {% else %}
                        {{a.pieza.modelo}}
                        {% endif%}
                    </p>
                </td>
                <td width="60"
                    style="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                    <p lang="en-US" class="western">
                        {{a.pieza.condicion}}
                    </p>
                </td>
            </tr>
            {% endfor %}


        </tbody>
    </table>

    <P LANG="en-US" CLASS="western" ALIGN=JUSTIFY><BR>
    </P>
    <P LANG="en-US" CLASS="western" ALIGN=JUSTIFY>
        <FONT SIZE=2 STYLE="font-size: 11pt">
            <FONT SIZE=4>Esta
                entrega recepción se sujeta a las siguientes clausulas:</FONT>
        </FONT>
    </P>

    <P LANG="en-US" CLASS="western" ALIGN=JUSTIFY>
        <FONT SIZE=2 STYLE="font-size: 11pt">
            <FONT SIZE=4><B>Primera.-</B></FONT>
            <FONT SIZE=4>
                Los bienes descritos en la presente acta, a partir de la firma,
                estarán bajo la responsabilidad, buen uso y cuidado de quien recibe
                y garantiza que se emplearán única y exclusivamente para cumplir
                con los fines propios inherentes a las funciones que se cumplen en el
            </FONT>
            <FONT SIZE=4><B>MINISTERIO DE INCLUSIÓN ECONÓMICA Y SOCIAL. </B></FONT>
        </FONT>
    </P>

    <P LANG="en-US" CLASS="western" ALIGN=JUSTIFY>
        <FONT SIZE=2 STYLE="font-size: 11pt">
            <FONT SIZE=4><B>Segunda.-</B></FONT>
            <FONT SIZE=4>
                En caso de cambio o retiro, el custodio de los bienes deberá
                elaborar la respectiva acta de descarga a nombre de la persona que se
                responsabilizará, para su actualización registro y control.</FONT>
        </FONT>
    </P>

    <P LANG="en-US" CLASS="western" ALIGN=JUSTIFY>
        <FONT SIZE=2 STYLE="font-size: 11pt">
            <FONT SIZE=4><B>Tercera.-</B></FONT>
            <FONT SIZE=4>
                Cuando alguno de los bienes, hubiere desaparecido por hurto, robo o
                cualquier cosa semejante, comunicara inmediatamente por escrito este
                hecho al responsable de Bienes, al jefe inmediato y a la máxima
                autoridad de la institución con todos los pormenores que fueren del
                caso, dentro de las 48 horas hábiles, conforme lo indica el Art. 86
                del Reglamento General Sustitutivo para el manejo y Administración
                de Bienes del Sector Publico.</FONT>
        </FONT>
    </P>
    <P LANG="en-US" CLASS="western" ALIGN=JUSTIFY>
        <FONT SIZE=2 STYLE="font-size: 11pt">
            <FONT SIZE=4>Para
                constancia y fe de lo actuado, firman las partes intervinientes en
                unidad de acto, en un original y una copia de igual tenor.</FONT>
        </FONT>
    </P>
    <P LANG="en-US" CLASS="western" ALIGN=JUSTIFY><BR>
    </P>

    <P LANG="en-US" CLASS="western" ALIGN=JUSTIFY><BR>
    </P>
    <P LANG="en-US" CLASS="western" ALIGN=JUSTIFY><BR>
    </P>
    <P LANG="en-US" CLASS="western" ALIGN=JUSTIFY><BR>
    </P>
    <P LANG="en-US" CLASS="western" ALIGN=JUSTIFY><BR>
    </P>

    <TABLE WIDTH=653 CELLPADDING=7 CELLSPACING=0>
        <COL WIDTH=312>
        <COL WIDTH=312>
        <TR VALIGN=TOP>
            <TD WIDTH=312 STYLE="border: none; padding: 0in">
                <P LANG="en-US" CLASS="western" ALIGN=CENTER>
                    <FONT FACE="Calibri, serif">
                        <FONT SIZE=4><SPAN LANG="es-ES"><B>ENTREGA
                                    CONFORME:</B></SPAN></FONT>
                    </FONT>
                </P>
            </TD>
            <TD WIDTH=312 STYLE="border: none; padding: 0in">
                <P LANG="en-US" CLASS="western" ALIGN=CENTER>
                    <FONT FACE="Calibri, serif">
                        <FONT SIZE=4><SPAN LANG="es-ES"><B>RECIBE
                                    CONFORME:</B></SPAN></FONT>
                    </FONT>
                </P>
            </TD>
        </TR>
    </TABLE>

    <TABLE WIDTH=640 CELLPADDING=5 CELLSPACING=0>
        <COL WIDTH=310>
        <COL WIDTH=310>
        <TR VALIGN=BOTTOM>
            <TD WIDTH=310 HEIGHT=7 BGCOLOR="#ffffff" STYLE="border: none; padding: 0in">
                <P LANG="en-US" CLASS="western" ALIGN=CENTER>
                    <FONT SIZE=4 STYLE="font-size: 11pt">ING.
                        {{object.responsable}}</FONT>
                </P>
            </TD>
            <TD WIDTH=310 BGCOLOR="#ffffff" STYLE="border: none; padding: 0in">
                <P LANG="en-US" CLASS="western" ALIGN=CENTER>
                    <FONT SIZE=4 STYLE="font-size: 11pt"><SPAN LANG="es-ES">{{object.equipo.equipo.responsable}}</SPAN></FONT>
                </P>
            </TD>
        </TR>
        <TR VALIGN=BOTTOM>
            <TD WIDTH=310 HEIGHT=7 BGCOLOR="#ffffff" STYLE="border: none; padding: 0in">
                <P LANG="en-US" CLASS="western" ALIGN=CENTER>
                    <FONT SIZE=2 STYLE="font-size: 11pt">
                        <FONT SIZE=4><B>ANALISTA
                                TICS</B></FONT>
                    </FONT>
                </P>
            </TD>
            <TD WIDTH=310 BGCOLOR="#ffffff" STYLE="border: none; padding: 0in">
                <P LANG="en-US" CLASS="western" ALIGN=CENTER>
                    <FONT SIZE=2 STYLE="font-size: 11pt">
                        <FONT SIZE=4><SPAN LANG="es-ES"><B>{{object.equipo.equipo.responsable.cargo}}</B></SPAN></FONT>
                    </FONT>
                </P>
            </TD>
        </TR>
        <TR VALIGN=BOTTOM>
            <TD WIDTH=310 HEIGHT=7 BGCOLOR="#ffffff" STYLE="border: none; padding: 0in">
                <P LANG="en-US" CLASS="western" ALIGN=CENTER>
                    <FONT SIZE=2 STYLE="font-size: 11pt">
                        <FONT SIZE=4><B>DIRECCION
                                DISTRITAL MILAGRO</B></FONT>
                    </FONT>
                </P>
            </TD>
            <TD WIDTH=310 BGCOLOR="#ffffff" STYLE="border: none; padding: 0in">
                <P LANG="en-US" CLASS="western" ALIGN=CENTER>
                    <FONT SIZE=2 STYLE="font-size: 11pt">
                        <FONT SIZE=4><B>DIRECCION
                                DISTRITAL MILAGRO</B></FONT>
                    </FONT>
                </P>
            </TD>
        </TR>
    </TABLE>

</BODY>

</HTML>

{% endblock content %}