{% extends 'base_atencion_reporte_pdf.html' %}
{% block content %}
<TITLE>BIENES-DDM-09D17-TICS-MIES-{{ object.fechaIncidente.year }}-00{{ object.contadorDocumento }}</TITLE>
<br>
<P LANG="en-US" CLASS="western" ALIGN=RIGHT>
    <FONT SIZE=4 STYLE="font-size: 12pt"><U><B>DDM-09D17-TICS-MIES-{{object.fechaIncidente.year}}</B></U><SPAN
            LANG="es-ES"><U><B>-00{{object.contadorDocumento}}</B></U></SPAN></FONT>
</P>
<br>
<TABLE WIDTH=642 CELLPADDING=5 CELLSPACING=0>
    <COL WIDTH=96>
    <COL WIDTH=61>
    <COL WIDTH=155>
    <COL WIDTH=8>
    <COL WIDTH=52>
    <COL WIDTH=72>
    <COL WIDTH=47>
    <COL WIDTH=68>
    <TR>
        <TD ROWSPAN=2 COLSPAN=8 WIDTH=630 HEIGHT=31 BGCOLOR="#ffffff"
            STYLE="border-top: 1.00pt solid #00000a; border-bottom: none; border-left: 1.00pt solid #00000a; border-right: 1.00pt solid #000001; padding: 0in 0.05in">
            <P LANG="en-US" CLASS="western" ALIGN=CENTER STYLE="widows: 2; orphans: 2">
                <FONT SIZE=2 STYLE="font-size: 11pt">
                    <FONT COLOR="#000000">
                        <FONT FACE="Times New Roman, serif">
                            <FONT SIZE=4><SPAN LANG="es-ES"><strong>REPORTE
                                        ATENCIÓN</strong></SPAN></FONT>
                        </FONT>
                    </FONT>
                </FONT>
            </P>
        </TD>
    </TR>
    <TR>
    </TR>
    <TR>
        <TD WIDTH=96 HEIGHT=32 BGCOLOR="#ffffff"
            STYLE="border-top: 1px solid #00000a; border-bottom: 1px solid #00000a; border-left: 1.00pt solid #00000a; border-right: 1px solid #00000a; padding: 0in 0.05in">
            <P LANG="en-US" CLASS="western" ALIGN=CENTER STYLE="widows: 2; orphans: 2">
                <FONT SIZE=2 STYLE="font-size: 11pt">
                    <FONT COLOR="#000000">
                        <FONT FACE="Times New Roman, serif">
                            <BR>
                            <FONT SIZE=4><SPAN LANG="es-ES">Entrega:</SPAN></FONT>
                        </FONT>
                    </FONT>
                </FONT>
            </P>
        </TD>
        <TD COLSPAN=4 WIDTH=307 BGCOLOR="#ffffff"
            STYLE="border-top: 1.00pt solid #00000a; border-bottom: 1px solid #00000a; border-left: none; border-right: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0in; padding-right: 0.05in">
            <P LANG="es-ES" CLASS="western" ALIGN=CENTER STYLE="widows: 2; orphans: 2">
                <BR> {{object.equipo.responsable}}
            </P>
        </TD>
        <TD WIDTH=72 BGCOLOR="#ffffff"
            STYLE="border-top: 1.00pt solid #00000a; border-bottom: 1px solid #00000a; border-left: none; border-right: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0in; padding-right: 0.05in">
            <P LANG="en-US" CLASS="western" ALIGN=CENTER STYLE="widows: 2; orphans: 2">
                <FONT SIZE=2 STYLE="font-size: 11pt">
                    <FONT COLOR="#000000">
                        <FONT FACE="Times New Roman, serif">
                            <BR>
                            <FONT SIZE=4><SPAN LANG="es-ES">Cédula:</SPAN></FONT>
                        </FONT>
                    </FONT>
                </FONT>
            </P>
        </TD>
        <TD COLSPAN=2 WIDTH=125 BGCOLOR="#ffffff"
            STYLE="border-top: 1.00pt solid #00000a; border-bottom: 1px solid #00000a; border-left: none; border-right: 1.00pt solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0in; padding-right: 0.05in">
            <P LANG="es-ES" CLASS="western" ALIGN=CENTER STYLE="widows: 2; orphans: 2">
                <BR> {{object.equipo.responsable.cedula}}
            </P>
        </TD>
    </TR>
    <TR>
        <TD WIDTH=96 HEIGHT=34 BGCOLOR="#ffffff"
            STYLE="border-top: none; border-bottom: none; border-left: 1.00pt solid #00000a; border-right: 1px solid #00000a; padding: 0in 0.05in">
            <P LANG="en-US" CLASS="western" ALIGN=CENTER STYLE="widows: 2; orphans: 2">
                <FONT SIZE=2 STYLE="font-size: 11pt">
                    <FONT COLOR="#000000">
                        <FONT FACE="Times New Roman, serif">
                            <BR>
                            <FONT SIZE=4><SPAN LANG="es-ES">Recibe:</SPAN></FONT>
                        </FONT>
                    </FONT>
                </FONT>
            </P>
        </TD>
        <TD COLSPAN=4 WIDTH=307 BGCOLOR="#ffffff"
            STYLE="border-top: 1px solid #00000a; border-bottom: none; border-left: none; border-right: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0in; padding-right: 0.05in">
            <P LANG="es-ES" CLASS="western" ALIGN=CENTER STYLE="widows: 2; orphans: 2">
                <BR> {{object.responsable}}
            </P>
        </TD>
        <TD WIDTH=72 BGCOLOR="#ffffff"
            STYLE="border-top: none; border-bottom: none; border-left: none; border-right: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0in; padding-right: 0.05in">
            <P LANG="en-US" CLASS="western" ALIGN=CENTER STYLE="widows: 2; orphans: 2">
                <FONT SIZE=2 STYLE="font-size: 11pt">
                    <FONT COLOR="#000000">
                        <FONT FACE="Times New Roman, serif">
                            <BR>
                            <FONT SIZE=4><SPAN LANG="es-ES">Fecha Llegada:</SPAN></FONT>
                        </FONT>
                    </FONT>
                </FONT>
            </P>
        </TD>
        <TD COLSPAN=2 WIDTH=125 BGCOLOR="#ffffff"
            STYLE="border-top: 1px solid #00000a; border-bottom: none; border-left: none; border-right: 1.00pt solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0in; padding-right: 0.05in">
            <P LANG="es-ES" CLASS="western" ALIGN=CENTER STYLE="widows: 2; orphans: 2">
                <BR> {{object.fechaIncidente}}
            </P>
        </TD>
    </TR>
    <TR>
        <TD WIDTH=96 HEIGHT=20 BGCOLOR="#ffffff"
            STYLE="border-top: 1.00pt solid #00000a; border-bottom: 1px solid #00000a; border-left: 1.00pt solid #00000a; border-right: 1px solid #00000a; padding: 0in 0.05in">
            <P LANG="en-US" CLASS="western" ALIGN=CENTER STYLE="widows: 2; orphans: 2">
                <FONT SIZE=2 STYLE="font-size: 11pt">
                    <FONT COLOR="#000000">
                        <FONT FACE="Times New Roman, serif">
                            <BR>
                            <FONT SIZE=4><SPAN LANG="es-ES"> Hora Salida:</SPAN></FONT>
                        </FONT>
                    </FONT>
                </FONT>
            </P>
        </TD>
        <TD WIDTH=61 BGCOLOR="#ffffff"
            STYLE="border-top: 1.00pt solid #00000a; border-bottom: 1px solid #00000a; border-left: none; border-right: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0in; padding-right: 0.05in">
            <P LANG="es-ES" CLASS="western" ALIGN=CENTER STYLE="widows: 2; orphans: 2">
                <BR>
                    {% if object.hora_salida is none %}
                   
                    {% else %}
                    {{object.hora_salida}} 
                    {% endif%}
                     
            </P>
        </TD>
        <TD COLSPAN=3 WIDTH=236 BGCOLOR="#ffffff"
            STYLE="border-top: 1.00pt solid #00000a; border-bottom: 1px solid #00000a; border-left: none; border-right: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0in; padding-right: 0.05in">
            <P LANG="en-US" CLASS="western" ALIGN=CENTER STYLE="widows: 2; orphans: 2">
                <FONT SIZE=2 STYLE="font-size: 11pt">
                    <FONT COLOR="#000000">
                        <FONT FACE="Times New Roman, serif">
                            <BR>
                            <FONT SIZE=4><SPAN LANG="es-ES"> Fecha Salida:</SPAN></FONT>
                        </FONT>
                    </FONT>
                </FONT>
            </P>
        </TD>
        <TD COLSPAN=3 WIDTH=207 BGCOLOR="#ffffff"
            STYLE="border-top: 1.00pt solid #00000a; border-bottom: 1px solid #00000a; border-left: none; border-right: 1.00pt solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0in; padding-right: 0.05in">
            <P LANG="es-ES" CLASS="western" ALIGN=CENTER STYLE="widows: 2; orphans: 2">
                <BR>
                    {% if object.fecha_salida is none %}
                   
                    {% else %}
                    {{object.fecha_salida}} 
                    {% endif%}
                     
            </P>
        </TD>
    </TR>
    <TR>
        <TD WIDTH=96 HEIGHT=31 BGCOLOR="#ffffff"
            STYLE="border-top: none; border-bottom: 1px solid #00000a; border-left: 1.00pt solid #00000a; border-right: 1px solid #00000a; padding: 0in 0.05in">
            <P LANG="en-US" CLASS="western" ALIGN=CENTER STYLE="widows: 2; orphans: 2">
                <FONT SIZE=2 STYLE="font-size: 11pt">
                    <FONT COLOR="#000000">
                        <FONT FACE="Times New Roman, serif">
                            <BR>
                            <FONT SIZE=4><SPAN LANG="es-ES">Instalación:</SPAN></FONT>
                        </FONT>
                    </FONT>
                </FONT>
            </P>
        </TD>
        <TD WIDTH=61 BGCOLOR="#ffffff"
            STYLE="border-top: none; border-bottom: 1px solid #00000a; border-left: 1px solid #00000a; border-right: 1px solid #00000a; padding: 0in 0.05in">
            <P LANG="es-ES" CLASS="western" ALIGN=CENTER STYLE="widows: 2; orphans: 2">
                <BR> {% if object.instalacion%}
                <span>X</span>
                {% else %}
                <span></span>
                {% endif %}
            </P>
        </TD>
        <TD COLSPAN=2 WIDTH=173 BGCOLOR="#ffffff"
            STYLE="border-top: none; border-bottom: 1px solid #00000a; border-left: 1px solid #00000a; border-right: 1px solid #00000a; padding: 0in 0.05in">
            <P LANG="en-US" CLASS="western" ALIGN=CENTER STYLE="widows: 2; orphans: 2">
                <FONT SIZE=2 STYLE="font-size: 11pt">
                    <FONT COLOR="#000000">
                        <FONT FACE="Times New Roman, serif">
                            <BR>
                            <FONT SIZE=4><SPAN LANG="es-ES">Pruebas:</SPAN></FONT>
                        </FONT>
                    </FONT>
                </FONT>
            </P>
        </TD>
        <TD WIDTH=52 BGCOLOR="#ffffff"
            STYLE="border-top: none; border-bottom: 1px solid #00000a; border-left: 1px solid #00000a; border-right: 1px solid #00000a; padding: 0in 0.05in">
            <P LANG="es-ES" CLASS="western" ALIGN=CENTER STYLE="widows: 2; orphans: 2">
                <BR> {% if object.prueba%}
                <span>X</span>
                {% else %}
                <span></span>
                {% endif %}
            </P>
        </TD>
        <TD COLSPAN=2 WIDTH=128 BGCOLOR="#ffffff"
            STYLE="border-top: none; border-bottom: 1px solid #00000a; border-left: 1px solid #00000a; border-right: 1px solid #00000a; padding: 0in 0.05in">
            <P LANG="en-US" CLASS="western" ALIGN=CENTER STYLE="widows: 2; orphans: 2">
                <FONT SIZE=2 STYLE="font-size: 11pt">
                    <FONT COLOR="#000000">
                        <FONT FACE="Times New Roman, serif">
                            <BR>
                            <FONT SIZE=4><SPAN LANG="es-ES">Hardware:</SPAN></FONT>
                        </FONT>
                    </FONT>
                </FONT>
            </P>
        </TD>
        <TD WIDTH=68 BGCOLOR="#ffffff"
            STYLE="border-top: none; border-bottom: 1px solid #00000a; border-left: 1px solid #00000a; border-right: 1.00pt solid #000001; padding: 0in 0.05in">
            <P LANG="es-ES" CLASS="western" ALIGN=CENTER STYLE="widows: 2; orphans: 2">
                <BR>{% if object.hardware%}
                <span>X</span>
                {% else %}
                <span></span>
                {% endif %}
            </P>
        </TD>
    </TR>
    <TR>
        <TD WIDTH=96 HEIGHT=33 BGCOLOR="#ffffff"
            STYLE="border-top: 1px solid #00000a; border-bottom: none; border-left: 1.00pt solid #00000a; border-right: 1px solid #00000a; padding: 0in 0.05in">
            <P LANG="en-US" CLASS="western" ALIGN=CENTER STYLE="widows: 2; orphans: 2">
                <FONT SIZE=2 STYLE="font-size: 11pt">
                    <FONT COLOR="#000000">
                        <FONT FACE="Times New Roman, serif">
                            <BR>
                            <FONT SIZE=4><SPAN LANG="es-ES">Configuración:</SPAN></FONT>
                        </FONT>
                    </FONT>
                </FONT>
            </P>
        </TD>
        <TD WIDTH=61 BGCOLOR="#ffffff"
            STYLE="border-top: 1px solid #00000a; border-bottom: none; border-left: 1px solid #00000a; border-right: 1px solid #00000a; padding: 0in 0.05in">
            <P LANG="es-ES" CLASS="western" ALIGN=CENTER STYLE="widows: 2; orphans: 2">
                <BR>{% if object.configuracion%}
                <span>X</span>
                {% else %}
                <span></span>
                {% endif %}
            </P>
        </TD>
        <TD COLSPAN=2 WIDTH=173 BGCOLOR="#ffffff"
            STYLE="border-top: 1px solid #00000a; border-bottom: none; border-left: 1px solid #00000a; border-right: 1px solid #00000a; padding: 0in 0.05in">
            <P LANG="en-US" CLASS="western" ALIGN=CENTER STYLE="widows: 2; orphans: 2">
                <FONT SIZE=2 STYLE="font-size: 11pt">
                    <FONT COLOR="#000000">
                        <FONT FACE="Times New Roman, serif">
                            <BR>
                            <FONT SIZE=4><SPAN LANG="es-ES">Capacitación:</SPAN></FONT>
                        </FONT>
                    </FONT>
                </FONT>
            </P>
        </TD>
        <TD WIDTH=52 BGCOLOR="#ffffff"
            STYLE="border-top: 1px solid #00000a; border-bottom: none; border-left: 1px solid #00000a; border-right: 1px solid #00000a; padding: 0in 0.05in">
            <P LANG="es-ES" CLASS="western" ALIGN=CENTER STYLE="widows: 2; orphans: 2">
                <BR>{% if object.capacitacion%}
                <span>X</span>
                {% else %}
                <span></span>
                {% endif %}
            </P>
        </TD>
        <TD COLSPAN=2 WIDTH=128 BGCOLOR="#ffffff"
            STYLE="border-top: 1px solid #00000a; border-bottom: none; border-left: 1px solid #00000a; border-right: 1px solid #00000a; padding: 0in 0.05in">
            <P LANG="en-US" CLASS="western" ALIGN=CENTER STYLE="widows: 2; orphans: 2">
                <FONT SIZE=2 STYLE="font-size: 11pt">
                    <FONT COLOR="#000000">
                        <FONT FACE="Times New Roman, serif">
                            <BR>
                            <FONT SIZE=4><SPAN LANG="es-ES">Software:</SPAN></FONT>
                        </FONT>
                    </FONT>
                </FONT>
            </P>
        </TD>
        <TD WIDTH=68 BGCOLOR="#ffffff"
            STYLE="border-top: 1px solid #00000a; border-bottom: none; border-left: 1px solid #00000a; border-right: 1.00pt solid #000001; padding: 0in 0.05in">
            <P LANG="es-ES" CLASS="western" ALIGN=CENTER STYLE="widows: 2; orphans: 2">
                <BR> {% if object.software%}
                <span>X</span>
                {% else %}
                <span></span>
                {% endif %}
            </P>
        </TD>
    </TR>
    <TR>
        <TD COLSPAN=2 WIDTH=168 HEIGHT=123 BGCOLOR="#ffffff"
            STYLE="border-top: 1.00pt solid #00000a; border-bottom: 1px solid #00000a; border-left: 1px solid #00000a; border-right: 1px solid #00000a; padding: 0in 0.05in">
            <P LANG="en-US" CLASS="western" ALIGN=CENTER STYLE="widows: 2; orphans: 2">
                <FONT SIZE=2 STYLE="font-size: 11pt">
                    <FONT COLOR="#000000">
                        <FONT FACE="Times New Roman, serif">
                            <BR>
                            <FONT SIZE=4><SPAN LANG="es-ES">Detalle
                                    Atención:</SPAN></FONT>
                        </FONT>
                    </FONT>
                </FONT>
            </P>
        </TD>
        <TD COLSPAN=6 WIDTH=452 BGCOLOR="#ffffff"
            STYLE="border-top: 1.00pt solid #00000a; border-bottom: none; border-left: none; border-right: 1.00pt solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0in; padding-right: 0.05in">
            <P LANG="es-ES" CLASS="western" ALIGN=CENTER STYLE="widows: 2; orphans: 2">
            <p style="text-align:justify">{{object.detalle}}</p>
            </P>
        </TD>
    </TR>
    <TR>
        <TD COLSPAN=2 WIDTH=168 HEIGHT=123 BGCOLOR="#ffffff"
            STYLE="border-top: 1.00pt solid #00000a; border-bottom: 1px solid #00000a; border-left: 1.00pt solid #00000a; border-right: 1px solid #00000a; padding: 0in 0.05in">
            <P LANG="en-US" CLASS="western" ALIGN=CENTER STYLE="widows: 2; orphans: 2">
                <FONT SIZE=2 STYLE="font-size: 11pt">
                    <FONT COLOR="#000000">
                        <FONT FACE="Times New Roman, serif">
                            <BR>
                            <FONT SIZE=4><SPAN LANG="es-ES">Observaciones:</SPAN></FONT>
                        </FONT>
                    </FONT>
                </FONT>
            </P>
        </TD>
        <TD COLSPAN=6 WIDTH=452 BGCOLOR="#ffffff"
            STYLE="border-top: 1.00pt solid #00000a; border-bottom: none; border-left: none; border-right: 1.00pt solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0in; padding-right: 0.05in">
            <P LANG="es-ES" CLASS="western" ALIGN=CENTER STYLE="widows: 2; orphans: 2;   ">
            <p style="text-align:justify">{{object.observacion}}</p>
            </P>
        </TD>
    </TR>


    <TR>
        <TD COLSPAN=8 WIDTH=630 HEIGHT=32 BGCOLOR="#ffffff"
            STYLE="border-top: 1.00pt solid #00000a; border-bottom: none; border-left: 1.00pt solid #00000a; border-right: 1.00pt solid #000001; padding: 0in 0.05in">
            <P LANG="en-US" CLASS="western" ALIGN=CENTER STYLE="widows: 2; orphans: 2">
                <FONT SIZE=2 STYLE="font-size: 11pt">
                    <FONT COLOR="#000000">
                        <FONT FACE="Times New Roman, serif">
                            <FONT SIZE=4><SPAN LANG="es-ES"><strong>ENTREGA
                                        CONFORME</strong></SPAN></FONT>
                        </FONT>
                    </FONT>
                </FONT>
            </P>
        </TD>
    </TR>
    <TR>
        <TD COLSPAN=4 WIDTH=319 HEIGHT=32 STYLE="border: 1px solid #00000a; padding: 0in 0.05in">
            <P LANG="es-ES" CLASS="western" ALIGN=CENTER STYLE="widows: 2; orphans: 2">
                <BR><BR><BR><BR><BR><BR>
            </P>
        </TD>
        <TD COLSPAN=4 WIDTH=301 STYLE="border: 1px solid #00000a; padding: 0in 0.05in">
            <P LANG="es-ES" CLASS="western" ALIGN=CENTER STYLE="widows: 2; orphans: 2">
                <BR><BR><BR><BR><BR><BR>
            </P>
        </TD>
    </TR>
    <TR>
        <TD WIDTH=96 HEIGHT=32 BGCOLOR="#ffffff"
            STYLE="border-top: none; border-bottom: 1px solid #00000a; border-left: 1.00pt solid #00000a; border-right: 1px solid #00000a; padding: 0in 0.05in">
            <P LANG="en-US" CLASS="western" ALIGN=CENTER STYLE="widows: 2; orphans: 2">
                <FONT SIZE=1 STYLE="font-size: 11pt">
                    <FONT COLOR="#000000">
                        <FONT FACE="Times New Roman, serif">
                            <FONT SIZE=4><SPAN LANG="es-ES">Nombres:</SPAN></FONT>
                        </FONT>
                    </FONT>
                </FONT>
            </P>
        </TD>
        <TD COLSPAN=3 WIDTH=213 BGCOLOR="#ffffff"
            STYLE="border-top: none; border-bottom: 1px solid #00000a; border-left: none; border-right: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0in; padding-right: 0.05in">
            <P LANG="es-ES" CLASS="western" ALIGN=CENTER STYLE="widows: 2; orphans: 2">
                <BR>{{object.responsable}}
            </P>
        </TD>
        <TD COLSPAN=1 WIDTH=113 BGCOLOR="#ffffff"
            STYLE="border-top: none; border-bottom: 1px solid #00000a; border-left: none; border-right: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0in; padding-right: 0.05in">
            <P LANG="en-US" CLASS="western" ALIGN=CENTER STYLE="widows: 2; orphans: 2">
                <FONT SIZE=2 STYLE="font-size: 11pt">
                    <FONT COLOR="#000000">
                        <FONT FACE="Times New Roman, serif">
                            <FONT SIZE=4><SPAN LANG="es-ES">Nombres:</SPAN></FONT>
                        </FONT>
                    </FONT>
                </FONT>
            </P>
        </TD>
        <TD COLSPAN=3 WIDTH=178 BGCOLOR="#ffffff"
            STYLE="border-top: none; border-bottom: 1px solid #00000a; border-left: none; border-right: 1.00pt solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0in; padding-right: 0.05in">
            <P LANG="es-EC" CLASS="western" ALIGN=CENTER STYLE="widows: 2; orphans: 2">
                <BR>{{object.equipo.responsable}}
            </P>
        </TD>
    </TR>
    <TR>
        <TD WIDTH=96 HEIGHT=33 BGCOLOR="#ffffff"
            STYLE="border-top: none; border-bottom: 1.00pt solid #00000a; border-left: 1.00pt solid #00000a; border-right: 1px solid #00000a; padding: 0in 0.05in">
            <P LANG="en-US" CLASS="western" ALIGN=CENTER STYLE="widows: 2; orphans: 2">
                <FONT SIZE=2 STYLE="font-size: 11pt">
                    <FONT COLOR="#000000">
                        <FONT FACE="Times New Roman, serif">
                            <FONT SIZE=4><SPAN LANG="es-ES">Cargo:</SPAN></FONT>
                        </FONT>
                    </FONT>
                </FONT>
            </P>
        </TD>
        <TD COLSPAN=3 WIDTH=213 BGCOLOR="#ffffff"
            STYLE="border-top: 1px solid #00000a; border-bottom: 1.00pt solid #00000a; border-left: none; border-right: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0in; padding-right: 0.05in">
            <P LANG="es-ES" CLASS="western" ALIGN=CENTER STYLE="widows: 2; orphans: 2">
                <BR>{{object.responsable.cargo}}
            </P>
        </TD>
        <TD COLSPAN=1 WIDTH=113 BGCOLOR="#ffffff"
            STYLE="border-top: none; border-bottom: 1.00pt solid #00000a; border-left: none; border-right: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0in; padding-right: 0.05in">
            <P LANG="en-US" CLASS="western" ALIGN=CENTER STYLE="widows: 2; orphans: 2">
                <FONT SIZE=2 STYLE="font-size: 11pt">
                    <FONT COLOR="#000000">
                        <FONT FACE="Times New Roman, serif">
                            <FONT SIZE=4><SPAN LANG="es-ES">Cargo:</SPAN></FONT>
                        </FONT>
                    </FONT>
                </FONT>
            </P>
        </TD>
        <TD COLSPAN=3 WIDTH=178 BGCOLOR="#ffffff"
            STYLE="border-top: 1px solid #00000a; border-bottom: 1.00pt solid #00000a; border-left: none; border-right: 1.00pt solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0in; padding-right: 0.05in">
            <P LANG="es-ES" CLASS="western" ALIGN=CENTER STYLE="widows: 2; orphans: 2">
                <BR>{{object.equipo.responsable.cargo}}
            </P>
        </TD>
    </TR>


    <TR>
        <TD COLSPAN=4 WIDTH=319 HEIGHT=32 STYLE="border: 1px solid #00000a; padding: 0in 0.05in">
            <P LANG="es-ES" CLASS="western" ALIGN=CENTER STYLE="widows: 2; orphans: 2">
                <BR><BR><BR><BR><BR><BR>
            </P>
        </TD>
        <TD COLSPAN=4 WIDTH=301 STYLE="border: 1px solid #00000a; padding: 0in 0.05in">
            <P LANG="es-ES" CLASS="western" ALIGN=CENTER STYLE="widows: 2; orphans: 2">
                <BR><BR><BR><BR><BR><BR>
            </P>
        </TD>
    </TR>
    <TR>
        <TD WIDTH=96 HEIGHT=32 BGCOLOR="#ffffff"
            STYLE="border-top: none; border-bottom: 1px solid #00000a; border-left: 1.00pt solid #00000a; border-right: 1px solid #00000a; padding: 0in 0.05in">
            <P LANG="en-US" CLASS="western" ALIGN=CENTER STYLE="widows: 2; orphans: 2">
                <FONT SIZE=1 STYLE="font-size: 11pt">
                    <FONT COLOR="#000000">
                        <FONT FACE="Times New Roman, serif">
                            <FONT SIZE=4><SPAN LANG="es-ES">Nombres:</SPAN></FONT>
                        </FONT>
                    </FONT>
                </FONT>
            </P>
        </TD>
        
        <TD COLSPAN=3 WIDTH=213 BGCOLOR="#ffffff"
            STYLE="border-top: none; border-bottom: 1px solid #00000a; border-left: none; border-right: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0in; padding-right: 0.05in">
            <P LANG="es-ES" CLASS="western" ALIGN=CENTER STYLE="widows: 2; orphans: 2">
                <BR>{{bienes}}
                
            </P>
        </TD>
        <TD COLSPAN=1 WIDTH=113 BGCOLOR="#ffffff"
            STYLE="border-top: none; border-bottom: 1px solid #00000a; border-left: none; border-right: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0in; padding-right: 0.05in">
            <P LANG="en-US" CLASS="western" ALIGN=CENTER STYLE="widows: 2; orphans: 2">
                <FONT SIZE=2 STYLE="font-size: 11pt">
                    <FONT COLOR="#000000">
                        <FONT FACE="Times New Roman, serif">
                            <FONT SIZE=4><SPAN LANG="es-ES">Cargo:</SPAN></FONT>
                        </FONT>
                    </FONT>
                </FONT>
            </P>
        </TD>
        
        <TD COLSPAN=3 WIDTH=178 BGCOLOR="#ffffff"
            STYLE="border-top: none; border-bottom: 1px solid #00000a; border-left: none; border-right: 1.00pt solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0in; padding-right: 0.05in">
            <P LANG="es-EC" CLASS="western" ALIGN=CENTER STYLE="widows: 2; orphans: 2">
                <BR>{{bienes.cargo}}
            </P>
        </TD>
        
    </TR>

</TABLE>
{% endblock content %}