{% extends 'base_atencion_reporte_pdf.html' %}
{% block content %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>

<HEAD>

    <TITLE>Acta de entrega- {{object.id}}</TITLE>


</HEAD>

<BODY LANG="en-US" DIR="LTR">

    <P LANG="en-US" CLASS="western" ALIGN=RIGHT>
        <FONT SIZE=2 STYLE="font-size: 11pt"><U><B>DM-09D17-TIC-MIES</B></U></FONT>
    </P>
    <P LANG="en-US" CLASS="western">
    </P>
    <P LANG="en-US" CLASS="western" ALIGN=CENTER>
        <FONT SIZE=2 STYLE="font-size: 11pt">
            <FONT SIZE=4 STYLE="font-size: 16pt"><U><B>ACTA
                        DE ENTREGA– RECEPCIÓN</B></U></FONT>
        </FONT>
    </P>
    <P LANG="en-US" CLASS="western" ALIGN=JUSTIFY>
    </P>
    <P LANG="en-US" CLASS="western" ALIGN=JUSTIFY>
        <FONT SIZE=2 STYLE="font-size: 11pt">
            <FONT SIZE=3>En
                la ciudad de Milagro a los 17 días del mes de ABRIL del 2019, se
                procede a la ENTREGA de NOTEBOOK, entre las siguientes personas, por
                una parte quien ENTREGA ING. KEVIN LOCKE </FONT>
            <FONT SIZE=3><B>RESPONSABLE
                    ENCARGADO DE TICS </B></FONT>
            <FONT SIZE=3>de la DIRECCION DISTRITAL
                MILAGRO MIES/ZONA 5, y por otro lado quien RECIBE MARIUXI HERRERA
            </FONT>
            <FONT SIZE=3><B>CI:091232131231</B></FONT>
            <FONT SIZE=3>
                Educadora CNH.</FONT>
        </FONT>
    </P>
    <P LANG="en-US" CLASS="western" ALIGN=JUSTIFY><BR>
    </P>
    <CENTER>
        <TABLE WIDTH=560 CELLPADDING=7 CELLSPACING=0>
            <COL WIDTH=13>
            <COL WIDTH=175>
            <COL WIDTH=52>
            <COL WIDTH=109>
            <COL WIDTH=61>
            <COL WIDTH=64>
           
           
        </TABLE>
    </CENTER>
    
    <CENTER>
        <TABLE WIDTH=560 CELLPADDING=7 CELLSPACING=0>
            <COL WIDTH=13>
            <COL WIDTH=175>
            <COL WIDTH=52>
            <COL WIDTH=109>
            <COL WIDTH=61>
            <COL WIDTH=64>
            <TR VALIGN=TOP>
                <TD WIDTH=13 BGCOLOR="#ffffff"
                    STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                    <P LANG="en-US" CLASS="western" ALIGN=JUSTIFY>
                        <FONT SIZE=2 STYLE="font-size: 11pt">
                            <FONT SIZE=2 STYLE="font-size: 9pt"><B>#</B></FONT>
                        </FONT>
                    </P>
                </TD>
                <TD WIDTH=175 BGCOLOR="#ffffff"
                    STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                    <P LANG="en-US" CLASS="western" ALIGN=JUSTIFY>
                        <FONT SIZE=2 STYLE="font-size: 11pt">
                            <FONT SIZE=2 STYLE="font-size: 9pt"><B>BIEN</B></FONT>
                        </FONT>
                    </P>
                </TD>
                <TD WIDTH=52 BGCOLOR="#ffffff"
                    STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                    <P LANG="en-US" CLASS="western" ALIGN=JUSTIFY>
                        <FONT SIZE=2 STYLE="font-size: 11pt">
                            <FONT SIZE=2 STYLE="font-size: 9pt"><B>MARCA</B></FONT>
                        </FONT>
                    </P>
                </TD>
                <TD WIDTH=109 BGCOLOR="#ffffff"
                    STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                    <P LANG="en-US" CLASS="western" ALIGN=JUSTIFY>
                        <FONT SIZE=2 STYLE="font-size: 11pt">
                            <FONT SIZE=2 STYLE="font-size: 9pt"><B>SERIE</B></FONT>
                        </FONT>
                    </P>
                </TD>
                <TD WIDTH=61 BGCOLOR="#ffffff"
                    STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                    <P LANG="en-US" CLASS="western" ALIGN=JUSTIFY>
                        <FONT SIZE=2 STYLE="font-size: 11pt">
                            <FONT SIZE=2 STYLE="font-size: 9pt"><B>MODELO</B></FONT>
                        </FONT>
                    </P>
                </TD>
                <TD WIDTH=64 BGCOLOR="#ffffff"
                    STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                    <P LANG="en-US" CLASS="western" ALIGN=JUSTIFY>
                        <FONT SIZE=2 STYLE="font-size: 11pt">
                            <FONT SIZE=2 STYLE="font-size: 9pt"><B>ESTADO</B></FONT>
                        </FONT>
                    </P>
                </TD>
            </TR>
            <TR VALIGN=TOP>
                <TD WIDTH=13 BGCOLOR="#ffffff"
                    STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                    <P LANG="en-US" CLASS="western" ALIGN=JUSTIFY><BR>
                    </P>
                </TD>
                <TD WIDTH=175 BGCOLOR="#ffffff"
                    STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                    <P LANG="en-US" CLASS="western" ALIGN=JUSTIFY>
                        <FONT SIZE=2 STYLE="font-size: 11pt">
                            <FONT SIZE=2 STYLE="font-size: 9pt"><SPAN LANG="es-ES">DISPLAY</SPAN></FONT>
                        </FONT>
                    </P>
                </TD>
                <TD WIDTH=52 BGCOLOR="#ffffff"
                    STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                    <P LANG="es-ES" CLASS="western" ALIGN=JUSTIFY><BR>
                    </P>
                </TD>
                <TD WIDTH=109 BGCOLOR="#ffffff"
                    STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                    <P LANG="es-ES" CLASS="western" ALIGN=JUSTIFY><BR>
                    </P>
                </TD>
                <TD WIDTH=61 BGCOLOR="#ffffff"
                    STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                    <P LANG="es-ES" CLASS="western" ALIGN=JUSTIFY><BR>
                    </P>
                </TD>
                <TD WIDTH=64 BGCOLOR="#ffffff"
                    STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                    <P LANG="es-ES" CLASS="western" ALIGN=JUSTIFY><BR>
                    </P>
                </TD>
            </TR>
        </TABLE>
    </CENTER>
    <P LANG="en-US" CLASS="western" ALIGN=JUSTIFY><BR>
    </P>
    <P LANG="en-US" CLASS="western" ALIGN=JUSTIFY>
        <FONT SIZE=2 STYLE="font-size: 11pt">
            <FONT SIZE=3>Esta
                entrega recepción se sujeta a las siguientes clausulas:</FONT>
        </FONT>
    </P>
  
    <P LANG="en-US" CLASS="western" ALIGN=JUSTIFY>
        <FONT SIZE=2 STYLE="font-size: 11pt">
            <FONT SIZE=3><B>Primera.-</B></FONT>
            <FONT SIZE=3>
                Los bienes descritos en la presente acta, a partir de la firma,
                estarán bajo la responsabilidad, buen uso y cuidado de quien recibe
                y garantiza que se emplearán única y exclusivamente para cumplir
                con los fines propios inherentes a las funciones que se cumplen en el
            </FONT>
            <FONT SIZE=3><B>MINISTERIO DE INCLUSIÓN ECONÓMICA Y SOCIAL. </B></FONT>
        </FONT>
    </P>
   
    <P LANG="en-US" CLASS="western" ALIGN=JUSTIFY>
        <FONT SIZE=2 STYLE="font-size: 11pt">
            <FONT SIZE=3><B>Segunda.-</B></FONT>
            <FONT SIZE=3>
                En caso de cambio o retiro, el custodio de los bienes deberá
                elaborar la respectiva acta de descarga a nombre de la persona que se
                responsabilizará, para su actualización registro y control.</FONT>
        </FONT>
    </P>
    
    <P LANG="en-US" CLASS="western" ALIGN=JUSTIFY>
        <FONT SIZE=2 STYLE="font-size: 11pt">
            <FONT SIZE=3><B>Tercera.-</B></FONT>
            <FONT SIZE=3>
                Cuando alguno de los bienes, hubiere desaparecido por hurto, robo o
                cualquier cosa semejante, comunicara inmediatamente por escrito este
                hecho al responsable de Bienes, al jefe inmediato y a la máxima
                autoridad de la institución con todos los pormenores que fueren del
                caso, dentro de las 48 horas hábiles, conforme lo indica el Art. 86
                del Reglamento General Sustitutivo para el manejo y Administración
                de Bienes del Sector Publico.</FONT>
        </FONT>
    </P>
    <P LANG="en-US" CLASS="western" ALIGN=JUSTIFY>
        <FONT SIZE=2 STYLE="font-size: 11pt">
            <FONT SIZE=3>Para
                constancia y fe de lo actuado, firman las partes intervinientes en
                unidad de acto, en un original y una copia de igual tenor.</FONT>
        </FONT>
    </P>
    <P LANG="en-US" CLASS="western" ALIGN=JUSTIFY><BR>
    </P>
  
  
    <TABLE WIDTH=653 CELLPADDING=7 CELLSPACING=0>
        <COL WIDTH=312>
        <COL WIDTH=312>
        <TR VALIGN=TOP>
            <TD WIDTH=312 STYLE="border: none; padding: 0in">
                <P LANG="en-US" CLASS="western" ALIGN=CENTER>
                    <FONT FACE="Calibri, serif">
                        <FONT SIZE=2><SPAN LANG="es-ES"><B>ENTREGA
                                    CONFORME:</B></SPAN></FONT>
                    </FONT>
                </P>
            </TD>
            <TD WIDTH=312 STYLE="border: none; padding: 0in">
                <P LANG="en-US" CLASS="western" ALIGN=CENTER>
                    <FONT FACE="Calibri, serif">
                        <FONT SIZE=2><SPAN LANG="es-ES"><B>RECIBE
                                    CONFORME:</B></SPAN></FONT>
                    </FONT>
                </P>
            </TD>
        </TR>
    </TABLE>
   
    <TABLE WIDTH=640 CELLPADDING=5 CELLSPACING=0>
        <COL WIDTH=310>
        <COL WIDTH=310>
        <TR VALIGN=BOTTOM>
            <TD WIDTH=310 HEIGHT=7 BGCOLOR="#ffffff" STYLE="border: none; padding: 0in">
                <P LANG="en-US" CLASS="western" ALIGN=CENTER>
                    <FONT SIZE=2 STYLE="font-size: 11pt">ING.
                        KEVIN LOCKE</FONT>
                </P>
            </TD>
            <TD WIDTH=310 BGCOLOR="#ffffff" STYLE="border: none; padding: 0in">
                <P LANG="en-US" CLASS="western" ALIGN=CENTER>
                    <FONT SIZE=2 STYLE="font-size: 11pt"><SPAN LANG="es-ES">MARIUXI
                            HERRERA</SPAN></FONT>
                </P>
            </TD>
        </TR>
        <TR VALIGN=BOTTOM>
            <TD WIDTH=310 HEIGHT=7 BGCOLOR="#ffffff" STYLE="border: none; padding: 0in">
                <P LANG="en-US" CLASS="western" ALIGN=CENTER>
                    <FONT SIZE=2 STYLE="font-size: 11pt">
                        <FONT SIZE=2><B>ANALISTA
                                TICS</B></FONT>
                    </FONT>
                </P>
            </TD>
            <TD WIDTH=310 BGCOLOR="#ffffff" STYLE="border: none; padding: 0in">
                <P LANG="en-US" CLASS="western" ALIGN=CENTER>
                    <FONT SIZE=2 STYLE="font-size: 11pt">
                        <FONT SIZE=2><SPAN LANG="es-ES"><B>EDUCADORA
                                    CNH</B></SPAN></FONT>
                    </FONT>
                </P>
            </TD>
        </TR>
        <TR VALIGN=BOTTOM>
            <TD WIDTH=310 HEIGHT=7 BGCOLOR="#ffffff" STYLE="border: none; padding: 0in">
                <P LANG="en-US" CLASS="western" ALIGN=CENTER>
                    <FONT SIZE=2 STYLE="font-size: 11pt">
                        <FONT SIZE=2><B>DIRECCION
                                DISTRITAL MILAGRO</B></FONT>
                    </FONT>
                </P>
            </TD>
            <TD WIDTH=310 BGCOLOR="#ffffff" STYLE="border: none; padding: 0in">
                <P LANG="en-US" CLASS="western" ALIGN=CENTER>
                    <FONT SIZE=2 STYLE="font-size: 11pt">
                        <FONT SIZE=2><B>DIRECCION
                                DISTRITAL MILAGRO</B></FONT>
                    </FONT>
                </P>
            </TD>
        </TR>
    </TABLE>

</BODY>

</HTML>

{% endblock content %}