{% load static %}
{% block content_extra_css %}
<link href="{% static 'fonts/dropify.eot'%}">
<link href="{% static 'fonts/dropify.svg'%}">
<link href="{% static 'fonts/dropify.ttf'%}">
<link href="{% static 'fonts/dropify.woff'%}">
<link href="{% static 'css/dropify.min.css'%}" rel="stylesheet">

{% endblock content_extra_css %}
<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Editar Registro</h5>
           
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
          
  
        </div>
        {% if form.errors %}
  
        <div class="alert alert-danger" role="alert">
            <h5 class="icon fas fa-bin">Error al guardar el registro!</h5>
            <ul>
                {% for field in form %}
                    {% for error in field.errors %}
                    <li>
                        {{error}}
                    </li>
                    {% endfor %}
                {% endfor %}
            </ul>
  
        </div>
        {% endif %}
        
        
        
        <form action="{% url 'atencion_editar' object.id %}" method="post">
            {% csrf_token %}
            
            <div class="modal-body">
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            {{form.tipoDocumento.label}}
                            {{form.tipoDocumento}}
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            {{form.responsable.label}}
                            {{form.responsable}}
                        </div>
                    </div>
                   
                </div>
            
            
                <div class="form-group">
                    {{form.equipo.label}}
                    {{form.equipo}}
                </div>
                
                <div class="row list-group" >
                    <div class="row ">
                        <div class="col-1"></div>
                        <div class="col">
                            <div class="form-group">
                                {{form.instalacion.label}}
                               <input type="checkbox" name="instalacion" id="id_instalacion"  {% if object.instalacion %} checked {% endif %} > 
                            </div>
                           
                            <div class="form-group">
                                {{form.configuracion.label}}
                               <input type="checkbox" name="configuracion" id="id_configuracion"  {% if object.configuracion %} checked {% endif %} >
                         
                            </div>
            
                        </div>
            
                        <div class="col">
                            <div class="form-group">
            
                              
                                {{form.hardware.label}}
                               <input type="checkbox" name="hardware" id="id_hardware"  {% if object.hardware %} checked {% endif %} >
                         
                            </div>
                            <div class="form-group">
                                {{form.software.label}}
                                <input type="checkbox" name="software" id="id_software"  {% if object.software %} checked {% endif %} >
                          
                                
                            </div>
                        </div>
            
                        <div class="col">
                            <div class="form-group">
                                {{form.capacitacion.label}}
                                <input type="checkbox" name="capacitacion" id="id_capacitacion"  {% if object.capacitacion %} checked {% endif %} >
                          
                             
                            </div>
                            <div class="form-group">
                                {{form.prueba.label}}
                                <input type="checkbox" name="prueba" id="id_prueba"  {% if object.prueba %} checked {% endif %} >
                          
                
                            </div>
                        </div>
                    </div>
            
            
            
            
                </div>
            
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            {{form.fecha_salida.label}}
                            {{form.fecha_salida}}
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            {{form.hora_salida.label}}
                            {{form.hora_salida}}
                        </div>
                    </div>
            
                </div>
                
                <div class="form-group">
                    {{form.detalle.label}}
                    {{form.detalle}}
                </div>
        
                <div class="form-group">
                    {{form.observacion.label}}
                    {{form.observacion}}
                </div>
                <h4>Asignación de Piezas o partes Opcional.</h4>
            
                <hr>
               
                    <div id="jsTotalForms" class="form-row">
        
                        
                        {{detalle_form.management_form}}
                        {% for form1 in detalle_form %}
                        {{form1.id}}
                        <div id = 'js_periferico' class="form-group col-md-6">
                            {{form1.pieza.label}}
                            {{form1.pieza}}
                        </div>
                        
                        <div id = 'js_cantidad'  class="form-group col-md-4">
                            {{form1.cantidad.label}}
                            {{form1.cantidad}}
                        </div>
                        <div id = 'js_eliminar'  class="form-group col-md-2">
                            {{form1.DELETE.label}}
                            {{form1.DELETE}}
                        </div>
                        {% endfor %}
                    </div>
                    <button class="button form-control col-md-4" type='button' onclick="agregar_inputs();">Agregar Periferico</button>
        
            
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="submit" class="btn btn-primary">Guardar cambios</button>
            </div>
        </form>
    </div>
  </div>


  {% block content_extra_js %}
  <script>
      $(function(){
          $('#id_tipoDocumento').select2();
          $('#id_responsable').select2();
          $('#id_equipo').select2();
      });
  </script>
  
  
  <script>
      
    function agregar_inputs(){
        var total_forms = document.querySelectorAll('#jsTotalForms input[type=hidden]')[0];
        var value_last = parseInt(total_forms.value)-1;
        //nuevo label e input para periferico
        var nuevo_label_periferico = document.createElement('label');
        nuevo_label_periferico.innerHTML = 'Pieza'
        var nuevo_select_periferico = document.querySelector('#id_atenciondetalle_set-'+value_last+'-pieza').cloneNode(true);
        nuevo_select_periferico.name = 'atenciondetalle_set-'+total_forms.value+'-pieza';
        nuevo_select_periferico.id = 'id_atenciondetalle_set-'+total_forms.value+'-pieza';
        nuevo_select_periferico.className = 'form-control select'
   
        //nuevo label e input para cantidad
        var nuevo_label_cantidad = document.createElement('label');
        nuevo_label_cantidad.innerHTML = 'cantidad'
        var nuevo_select_cantidad = document.querySelector('#id_atenciondetalle_set-'+value_last+'-cantidad').cloneNode(true);
        nuevo_select_cantidad.name = 'atenciondetalle_set-'+total_forms.value+'-cantidad';
        nuevo_select_cantidad.id = 'id_atenciondetalle_set-'+total_forms.value+'-cantidad';
        
         //nuevo label e input para eliminar
        var nuevo_label_eliminar = document.createElement('label');
        nuevo_label_eliminar.innerHTML = 'Eliminar'
        nuevo_label_eliminar.className = 'col-md-12'
        nuevo_label_eliminar.style.top = "40px"
        nuevo_label_eliminar.style.bottom = "40px"
        var nuevo_select_eliminar = document.querySelector('#id_atenciondetalle_set-'+value_last+'-DELETE').cloneNode(true);
        nuevo_select_eliminar.name = 'atenciondetalle_set-'+total_forms.value+'-DELETE';
        nuevo_select_eliminar.id = 'id_atenciondetalle_set-'+total_forms.value+'-DELETE';
        nuevo_select_eliminar.className = ' col-md-12'
        nuevo_select_eliminar.style.top = "40px"
        nuevo_select_eliminar.style.bottom = "40px"

        
        var cantidadElemen = document.querySelectorAll("#js_periferico");
        var cantidadElemen_cantidad = document.querySelectorAll("#js_cantidad");
        var cantidadElemen_eliminar = document.querySelectorAll("#js_eliminar");
        for (let i=0; i< cantidadElemen.length; i++){
            if (i == cantidadElemen.length-1){
                cantidadElemen[i].appendChild(nuevo_label_periferico);
                cantidadElemen[i].appendChild(nuevo_select_periferico);
                cantidadElemen_cantidad[i].appendChild(nuevo_label_cantidad);
                cantidadElemen_cantidad[i].appendChild(nuevo_select_cantidad);
                cantidadElemen_eliminar[i].appendChild(nuevo_label_eliminar);
                cantidadElemen_eliminar[i].appendChild(nuevo_select_eliminar);
            }
        }
    total_forms.value = parseInt(total_forms.value)+1;

    $(function () {
        $('.select').select2(
            { theme: "bootstrap4", }
        );
    });
    }
  </script>
  {% endblock content_extra_js %}
  