<div class="modal-dialog modal-lg ">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Detalle Registro</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <div class="modal-body">
            <table class="table table-bordered table-responsive-sm table-responsive-xl">
                <tbody>
                    <tr>
                        <th colspan="4">Información Atención</th>
                        <th colspan="4">
                            
                            {% if object.tipoDocumento == '1'%}
                                REPORTE DE ENTREGA
                            {% endif %}
                            {% if object.tipoDocumento == '2'%}
                                REPORTE DE RECEPCIÓN
                            {% endif %}
                            {% if object.tipoDocumento == '3'%}
                                REPORTE DE ENTREGA Y ATENCIÓN
                            {% endif %}
                            {% if object.tipoDocumento == '4'%}
                                REPORTE DE ENTREGA A BIENES
                            {% endif %}
                                
                        </th>
                    </tr>
                    <tr>

                        <th>Fecha Atención:</th>
                        <td colspan="3">{{object.fechaIncidente}} </td>
                        <th>Fecha Salida:</th>
                      
                        {% if object.fecha_salida is none %}
                        <td>-</td>
                        {% else %}
                        <td>{{object.fecha_salida}} </td>
                        {% endif%}
                        
                        
                        <th>Hora salida:</th>
                        {% if object.hora_salida is none %}
                        <td>-</td>
                        {% else %}
                        <td>{{object.hora_salida}} </td>
                        {% endif%}
                    </tr>
                    <tr>
                      
                        <th>Hardware:</th>
                        <td>
                            {% if object.hardware%}
                            <span class="badge badge-success">SI</span>
                            {% else %}
                            <span class="badge badge-danger">NO</span>
                            {% endif %}


                        </td>
                        <th>Software:</th>
                        <td>
                            {% if object.software%}
                            <span class="badge badge-success">SI</span>
                            {% else %}
                            <span class="badge badge-danger">NO</span>
                            {% endif %}


                        </td>
                    </tr>
                    <tr>

                        <th>Instalación:</th>
                        <td>
                            {% if object.instalacion%}
                            <span class="badge badge-success">SI</span>
                            {% else %}
                            <span class="badge badge-danger">NO</span>
                            {% endif %}
                        </td>
                        <th>Configuración:</th>
                        <td>
                            {% if object.configuracion%}
                            <span class="badge badge-success">SI</span>
                            {% else %}
                            <span class="badge badge-danger">NO</span>
                            {% endif %}
                        </td>
                        <th>Prueba:</th>
                        <td>
                            {% if object.prueba%}
                            <span class="badge badge-success">SI</span>
                            {% else %}
                            <span class="badge badge-danger">NO</span>
                            {% endif %}

                        <th>Capacitación:</th>
                        <td>
                            {% if object.capacitacion%}
                            <span class="badge badge-success">SI</span>
                            {% else %}
                            <span class="badge badge-danger">NO</span>
                            {% endif %}

                        </td>
                    </tr>

                    <tr>
                        <th>Entrega:</th>
                        <td colspan="3">{{object.responsable}}</td>
                        <th>Recibe:</th>
                        <td colspan="3">{{object.recibe}}</td>
                    </tr>
                    <tr>
                        <th>Detalle:</th>
                        <td colspan="7">{{object.detalle}}</td>
                    </tr>

                    <tr>
                        <th>Observación:</th>
                        <td colspan="7">{{object.observacion}}</td>
                    </tr>
                    <tr>
                        <th colspan="8">Información Entrega-Recepción</th>
                    </tr>



                    {% for a in items %}
                    <tr>
                        <th>Piezas:</th>
                        <td colspan="5">{{a.pieza}}</td>
                        <th>Cantidad:</th>
                        <td colspan="2">{{a.cantidad }}</td>
                    </tr>
                    {% endfor %}





                </tbody>
            </table>


        </div>

        </form>
    </div>

</div>