{% extends 'base_generic.html' %}
{% load static %}
{% block title %}ATENCIÓN{% endblock title %}


{% block content_main %}
<!-- Page Heading -->
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Atenciones</li>
    </ol>
</nav>
<div class="container-fluid">
    <!-- DataTales -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <div class="row ">
                <div class="col">
                    <h6 class="m-0 font-weight-bold text-primary">Reporte de Entrega-Recepción y Atención</h6>
                </div>
                <div class="col ">
                    <div class="dropdown float-right">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Acciones
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

                            {% if perms.atencion.add_atencion %}
                            <a class="dropdown-item" href="{% url 'atencion_crear'%}">Nuevo Reporte</a>
                          
                            {% endif %}

                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-sm" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th><b>FECHA</b></th>
                            <th><b>CUSTODIO</b></th>
                            <th><b>TIPO DOCUMENTO</b></th>
                            
                            <th><b>REPORTE PDF</b></th>
                            <th><b>ESTADO</b></th>
                            <th><b>ACCIONES</b></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for atencion in object_list %}
                        <tr>

                            <td>{{ atencion.fechaIncidente }}</td>
                            <td>{{ atencion.equipo.custodio }}</td>
                            <td>{{ atencion.tipoDocumento}}</td>
                           
                            <td>
                                {% if atencion.tipoDocumento.id == 3 %}
                                <div class="row">
                                    <a href="{% url 'atencion_reporte_pdf' atencion.id%}" target="_blank"><i
                                            class="fas fa-file-pdf"></i>
                                        <font size="2">ATENCION-DDM-09D17-TICS-MIES-{{ atencion.fechaIncidente.year}}-00{{ atencion.contadorDocumento }}</font>
                                    </a>
                                </div>

                                <div class="row">
                                    <a href="{% url 'acta_entrega_atencion_reporte_pdf' atencion.id%}"
                                        target="_blank"><i class="fas fa-file-pdf"></i>
                                        <font size="2">ACTA-DM-09D17-TIC-MIES</font>
                                    </a>
                                </div>
                                {% endif %}


                                {% if atencion.tipoDocumento.id == 4 %}
                                <div class="row">
                                    <a href="{% url 'acta_bienes_pdf' atencion.id%}" target="_blank"><i
                                            class="fas fa-file-pdf"></i>
                                        <font size="2">REPORTE-BIENES-DDM-09D17-TICS-MIES-{{ atencion.fechaIncidente.year}}-00{{ atencion.contadorDocumento }}</font>
                                    </a>
                                </div>

                                {% endif %}

                                
                                {% if atencion.tipoDocumento.id == 1 %}
                                <div class="row">
                                    <a href="{% url 'acta_entrega_reporte_pdf' atencion.id%}"
                                        target="_blank"><i class="fas fa-file-pdf"></i>
                                        <font size="2">REPORTE-ENTREGA-DM-09D17-TIC-MIES</font>
                                    </a>
                                </div>
                                {% endif %}

                                {% if atencion.tipoDocumento.id == 2 %}
                                <div class="row">
                                    <a href="{% url 'acta_recepcion_reporte_pdf' atencion.id%}"
                                        target="_blank"><i class="fas fa-file-pdf"></i>
                                        <font size="2">REPORTE-RECEPCIÓN-DM-09D17-TIC-MIES</font>
                                    </a>
                                </div>
                                {% endif %}




                            </td>
                            <td>
                                {% if  atencion.fecha_salida %}
                                    <span  class="badge badge-success">Entregado</span>
                                {% else %}
                                    <span  class="badge badge-danger">No Entregado </span>
                                {% endif %}
                                    </td>
                            <td>
                                <a class="btn btn-light btn-sm "
                                    onclick="abrirModalDetalle('{% url 'atencion_detalle' atencion.id%}')"> <i
                                        class="fa fa-eye"></i>
                                </a>

                                {% if perms.atencion.change_atencion %}
                                <button id="modalEditarAccesoRed" class="btn btn-light btn-sm"
                                    onclick="abrirModalEditar('{% url 'atencion_editar' atencion.id%}')"> <i
                                        class="fa fa-edit"></i>
                                </button>
                                {% endif %}


                                {% if perms.atencion.delete_atencion %}
                                <a class="btn btn-light btn-sm"
                                    onclick="abrirModalEliminar('{% url 'atencion_eliminar' atencion.id%}')"><i
                                        class="fa fa-trash"></i>
                                </a>
                                {% endif %}

                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>


</div>


<!-- Modal Editar -->
<div class="modal fade" id="editar" role="dialog">

</div>

<!-- Modal Eliminar -->
<div class="modal fade" id="eliminar" role="dialog">

</div>

<!-- Large modal -->
<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" id="detalle" aria-hidden="true">

</div>


{% endblock content_main%}


{% block content_extra_js %}
<script src="{% static 'js/funciones_mies.js' %}"></script>
{% endblock content_extra_js %}