<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Editar Registro</h5>
           
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
          
  
        </div>
        
        <form action="{% url 'custodia_editar' object.id %}" method="post">
            {% csrf_token %}
            
            <div class="modal-body">
               
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label for="id_fecha">{{form.fecha.label}}*</label>
                            {{form.fecha}}
                        </div>
                        <div class="form-group ">
                            <label for="id_categoria">{{form.categoria.label}}*</label>
                            {{form.categoria }}
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group ">
                            <label for="id_custodio">{{form.custodio.label}}*</label>
                            {{form.custodio}}
                        </div>
                      
                        
                        <div class="form-group ">
                            <label for="id_equipo">Equipo*</label>
                            <select name="equipo" id="id_equipo" class="form-control select">
                                <option value="0">---------</option>
                                {% for item in equipos %}
                                <option value="{{item.id}}" class="{{item.categoria}}"
                                {% if update_equipo == item.id %}
                                     selected
                                {% endif %}
                                >
                
                                    {% if item.categoria == '1' %}
                                    {{item.tipoEquipo}}-{{item.nombreEquipo}}-{{item.codigoMies}}-{{item.serie}}-{{item.direccionIp}}-{{item.direccionMac}}
                                    {% endif %}
                                    {% if item.categoria == '2' %}
                                    {{item.tipoImpresora}}-{{item.tecnologia}}-{{item.codigoMies}}-{{item.serie}}-{{item.direccionIp}}-{{item.direccionMac}}
                                    {% endif %}
                                    {% if item.categoria == '3' %}
                                    {{item.tipoDispositivo}}-{{item.codigoMies}}-{{item.serie}}-{{item.direccionIp}}-{{item.direccionMac}}
                                    {% endif %}
                
                                </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
               
                <div class="form-row">
                    <div class="form-group">
                        <div class="form-check">
                            <label for="id_estado">{{form.estado.label}}</label>
                            {{form.estado}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="submit" class="btn btn-primary">Guardar cambios</button>
            </div>
        </form>
    </div>
</div>

{% block content_extra_js %}

<script>

    $(function () {

        $("#id_equipo").chained("#id_categoria");
    });
    
    $(function(){
        $('#id_custodio').select2();  
        $('#id_equipo').select2(); 
        
       
    });
  
</script>
<script>
    $(function () {
        $('.select').select2(
            { theme: "bootstrap4", }
        );
    });


</script>
{% endblock content_extra_js %}