{% extends 'base_generic.html' %}
{% load static %}
{% block title %}ASIGNACIÓN DE CUSTODIOS {% endblock title %}


{% block content_main %}
<!-- Page Heading -->
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Custodia</li>
    </ol>
</nav>
<div class="container-fluid">
    <!-- DataTales -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <div class="row ">
                <div class="col">
                    <h6 class="m-0 font-weight-bold text-primary">Custodia de computadoras, impresoras y otros
                    </h6>
                </div>
                <div class="col-md-4">
                    <div class="dropdown float-right">
                        <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Configuraciones
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            {% if perms.inventario.view_dispositivo %}


                            <a class="dropdown-item " href="{% url 'dispositivo_listar'%}">
                                Dispositivo</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    {% if perms.custodia.add_custodia %}
                    <div class="float-right">

                        <a class="btn btn-secondary btn-sm" href="{% url 'custodia_reasignar'%}" role="button"> Reasignar custodio</a>
                    </div>

                    {% endif %}
                </div>


                <div class="col-md-2">
                    {% if perms.custodia.add_custodia %}
                    <div class="float-right">

                        <a class="btn btn-secondary btn-sm" href="{% url 'custodia_crear'%}" role="button"> Asignar custodio</a>

                    </div>

                    {% endif %}
                </div>
            </div>

        </div>

        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-sm" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th><b>CUSTODIO ACTUAL</b></th>
                            <th><b>CUSTODIO ANTERIOR</b></th>

                            <th><b>CATEGORIA</b></th>

                            <th><b>DIRECCIÓN IP</b></th>
                            <th><b>DIRECCIÓN MAC</b></th>
                            <th><b>SERIE</b></th>
                            <th><b>CÓDIGO MIES</b></th>
                            <th><b>ESTADO</b></th>

                            <th><b>ACCIONES</b></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for custodio in object_list %}
                        <tr>


                            <td>
                                {{ custodio.custodio }}
                            </td>
                            <td>

                                {% if custodio.custodioAnterior is none %}
                                SIN CUSTODIO ANTERIOR
                                {% else %}
                                {{ custodio.custodioAnterior }}
                                {% endif %}

                            </td>

                            <td>

                               
                               {% if  custodio.equipo.categoria == '1' %}
                                   COMPUTADORA
                               {% endif %}
                               {% if  custodio.equipo.categoria == '2' %}
                                   IMPRESORA
                               {% endif %}
                               {% if  custodio.equipo.categoria == '3' %}
                                   OTROS DISPOSITIVOS
                               {% endif %}
                                   
                            </td>


                            <td>
                                {% if custodio.equipo.direccionIp is none %}
                                <p>N/A</p>
                                {% else %}
                                {{ custodio.equipo.direccionIp }}
                                {% endif%}

                            </td>
                            <td>
                                {% if custodio.equipo.direccionMac is none %}
                                <p>N/A</p>
                                {% else %}
                                {{ custodio.equipo.direccionMac }}
                                {% endif%}

                            </td>
                            <td>
                                {% if custodio.equipo.serie is none %}
                                <p>N/A</p>
                                {% else %}
                                {{ custodio.equipo.serie}}
                                {% endif%}

                            </td>
                            <td>
                                {% if custodio.equipo.codigoMies is none %}
                                <p>N/A</p>
                                {% else %}
                                {{ custodio.equipo.codigoMies }}
                                {% endif%}

                            </td>
                            <td>
                                {% if custodio.estado%}
                                <span class="badge badge-success">Vigente</span>
                                {% else %}
                                <span class="badge badge-danger">No Vigente</span>
                                {% endif %}

                            </td>

                            <td>
                                <a class="btn btn-light btn-sm "
                                    onclick="abrirModalDetalle('{% url 'custodia_detalle' custodio.id%}')"> <i
                                        class="fa fa-eye"></i>
                                </a>

                                {% if perms.custodia.change_custodia %}
                                <button id="modalEditarcustodio" class="btn btn-light btn-sm"
                                    onclick="abrirModalEditar('{% url 'custodia_editar' custodio.id%}')"> <i
                                        class="fa fa-edit"></i>
                                </button>
                                {% endif %}


                                {% if perms.custodia.delete_custodia %}
                                <a class="btn btn-light btn-sm"
                                    onclick="abrirModalEliminar('{% url 'custodia_eliminar' custodio.id%}')"><i
                                        class="fa fa-trash"></i>
                                </a>
                                {% endif %}

                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>


</div>


<!-- Modal Editar -->
<div class="modal fade" id="editar" role="dialog">

</div>

<!-- Modal Eliminar -->
<div class="modal fade" id="eliminar" role="dialog">

</div>

<!-- Large modal -->
<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" id="detalle" aria-hidden="true">

</div>


{% endblock content_main%}


{% block content_extra_js %}
<script src="{% static 'js/jquery.chained.min.js' %}"></script>
{% endblock content_extra_js %}