{% extends 'base_generic.html' %}
{% block title %}Panel de control{% endblock %}


{% block content_main %}

{% if perms.empleado.view_empleado or perms.practica.view_pasante or perms.capacitacion.view_capacitacioncabecera or perms.atencion.view_atencion or perms.atencion.view_atencionsecundaria%}
<!-- Content Row -->
<div class="row">
    {% if perms.empleado.view_empleado %}
    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                            <a href="{% url 'empleado_listar' %}">Empleados</a>
                        </div>

                    </div>
                    <div class="col-auto">
                        <i class="fas fa-users  fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}

    {% if perms.practica.view_pasante %}
    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-success shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                            <a href="{% url 'pasante_listar' %}"> Pasantes</a>
                        </div>

                    </div>
                    <div class="col-auto">
                        <i class="fas fa-user-tag fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    {% if perms.capacitacion.view_capacitacioncabecera %}
    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-info shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-info text-uppercase mb-1"><a
                                href="{%url 'capacitacion_listar' %}">Capacitaciones</a>
                        </div>
                        <div class="row no-gutters align-items-center">
                            <div class="col-auto">

                            </div>

                        </div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
   
    <!-- Pending Requests Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-warning shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                            <a href="#">Entrega/Recepción</a>
                        </div>

                    </div>
                    <div class="col-auto">
                        <i class="fas fa-comments fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
 
</div>

    {% endif %}


<!-- Content Row -->
{% if perms.actividad.view_actividadcabecera or perms.custodio.view_custodio or perms.inventario.view_inventariotics or perms.red.view_accesored %}

<div class="row">

    {% if perms.actividad.view_actividadcabecera %}
    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                            <a href="{% url 'actividad_listar' %}">Actividades</a>
                        </div>

                    </div>
                    <div class="col-auto">
                        <i class="fas fa-calendar fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}

    {% if perms.inventario.view_dispositivo %}
    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-info shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-info text-uppercase mb-1"><a
                                href="{%url 'dispositivo_listar' %}">Inventario Distrito</a>
                        </div>
                        <div class="row no-gutters align-items-center">


                        </div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-indent fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    {% if perms.red.view_accesored %}
    <!-- Pending Requests Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-warning shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                            <a href="{% url 'accesoRed_listar' %}">Acceso a la red</a>
                        </div>

                    </div>
                    <div class="col-auto">

                        <i class="fas fa-network-wired fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}

    
    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-info shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-info text-uppercase mb-1"><a
                                href="#">Inventario Tics</a>
                        </div>
                        <div class="row no-gutters align-items-center">


                        </div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-indent fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
  
</div>

{% endif %}
<!-- Content Row -->

  




{% endblock %}