{% extends 'base_generic.html' %}
{% load static %}
{% block title %}ACTIVIDAD{% endblock title %}


{% block content_main %}
<!-- Page Heading -->
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Actividades</li>
    </ol>
</nav>
<div class="container-fluid">
    <!-- DataTales -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <div class="row ">
                <div class="col">
                    <h6 class="m-0 font-weight-bold text-primary">Listado de actividades</h6>
                </div>

                <div class="col-md-4">
                    <div class="dropdown float-right">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Configuraciones
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                    
                        {% if perms.practica.view_asunto  %}
                        <a class="dropdown-item " href="{% url 'asunto_listar'%}">
                            Asuntos</a>
                        {% endif %} 
                
                        </div>
                    </div>
                </div>
                
                <div class="col-md-2 ">
                    <div class="dropdown float-right">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Acciones
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            
                            {% if perms.actividad.add_actividadcabecera %}
                            <a class="dropdown-item" href="{% url 'actividad_crear'%}">Nueva Actividad</a>
                            {% endif %}
                                
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-sm" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>

                            <th><b>FECHA</b></th>
                            <th><b>RESPONSABLE</b></th>
                            <th><b>USUARIO</b></th>
                            <th><b>UBICACIÓN</b></th>
                            <th><b>PRIORIDAD</b></th>
                            <th><b>DOCUMENTOS</b></th>
                            <th><b>ACCIONES</b></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for actividad in object_list %}
                        <tr>

                            <td>{{ actividad.fecha }}</td>
                            <td>{{ actividad.responsable }}</td>
                            <td>{{ actividad.usuario }}</td>
                            <td>{{ actividad.ubicacion }}</td>
                            <td>
                                
                                {% if actividad.prioridad == '1' %}
                                <span class="badge badge-danger">ALTA</span>
                                {% endif %}
                                    
                                {% if actividad.prioridad == '2' %}
                                <span class="badge badge-warning">MEDIA</span>
                                {% endif %}

                                
                                {% if actividad.prioridad ==  '3' %}
                                <span class="badge badge-success">BAJA</span>
                                {% endif %}
                                    
                                    
                                    

                            </td>
                            <td><a href="{% url 'actividad_reporte_pdf' actividad.id%} " target="_blank">ACTIVIDADES-DDM-09D17-TICS-MIES</a></td>
                            <td>
                                <a class="btn btn-light btn-sm "
                                    onclick="abrirModalDetalle('{% url 'actividad_detalle' actividad.id%}')"> <i
                                        class="fa fa-eye"></i>
                                </a>
                                {% if perms.actividad.change_actividadcabecera %}
                                <button id="modalEditarAccesoRed" class="btn btn-light btn-sm"
                                    onclick="abrirModalEditar('{% url 'actividad_editar' actividad.id%}')"> <i
                                        class="fa fa-edit"></i>
                                </button>
                                {% endif %}


                                {% if perms.actividad.delete_actividadcabecera %}
                                <a class="btn btn-light btn-sm"
                                    onclick="abrirModalEliminar('{% url 'actividad_eliminar' actividad.id%}')"><i
                                        class="fa fa-trash"></i>
                                </a>
                                {% endif %}


                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>


</div>


<!-- Modal Editar -->
<div class="modal fade" id="editar" role="dialog">

</div>

<!-- Modal Eliminar -->
<div class="modal fade" id="eliminar" role="dialog">

</div>

<!-- Large modal -->
<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" id="detalle" aria-hidden="true">

</div>


{% endblock content_main%}


{% block content_extra_js %}

{% endblock content_extra_js %}