{% extends 'base_generic.html' %}
{% load static %}
{% block title %}ASUNTO {% endblock title %}


{% block content_main %}
<!-- Page Heading -->
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Asunto</li>
    </ol>
</nav>

    
<div class="container">
    
</div>
<div class="container-fluid">
    <!-- DataTales -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <div class="row ">
                <div class="col">
                    <h6 class="m-0 font-weight-bold text-primary">Listado de Asuntos</h6>
                </div>
                <div class="col ">
                    <div class="dropdown float-right">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Acciones
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

                            {% if perms.actividad.add_asunto %}
                            <a class="dropdown-item" href="{% url 'asunto_crear'%}">Nuevo Asunto</a>
                            {% endif %}

                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-sm" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>

                            <th><b>ASUNTOS</b></th>
                            <th><b>ACCIONES</b></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for asunto in object_list %}
                        <tr>

                            <td>{{ asunto.descripcion }}</td>

                            <td>
                                <a data-toggle="popover" title="Ver" class="btn btn-light btn-sm "
                                    onclick="abrirModalDetalle('{% url 'asunto_detalle' asunto.id%}')"> <i
                                        data-toggle="popover" title="Ver" class="fa fa-eye"></i>
                                </a>

                                {% if perms.actividad.add_asunto %}
                                <button data-toggle="popover" title="Editar" id="modalEditarZona"
                                    class="btn btn-light btn-sm"
                                    onclick="abrirModalEditar('{% url 'asunto_editar' asunto.id%}')"> <i
                                        data-toggle="popover" title="Editar" class="fa fa-edit"></i>
                                </button>
                                {% endif %}


                                {% if perms.actividad.add_asunto %}
                                <a data-toggle="popover" title="Eliminar" class="btn btn-light btn-sm"
                                    onclick="abrirModalEliminar('{% url 'asunto_eliminar' asunto.id%}')"><i
                                        data-toggle="popover" title="Eliminar" class="fa fa-trash"></i>
                                </a>
                                {% endif %}

                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>


</div>


<!-- Modal Editar -->
<div class="modal fade" id="editar" role="dialog">

</div>

<!-- Modal Eliminar -->
<div class="modal fade" id="eliminar" role="dialog">

</div>

<!-- Large modal -->
<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" id="detalle" aria-hidden="true">

</div>


{% endblock content_main%}


{% block content_extra_js %}

{% endblock content_extra_js %}