<div class="modal-dialog modal-lg ">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Detalle Registro</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <div class="modal-body">
            <table class="table table-bordered table-responsive-xl table-responsive-sm">
                <tbody>
                   
                    <tr>
                        <th>Fecha Ingreso:</th>
                        <td >{{object.fechaIngreso}}</td>
                        <th>Ubicacion:</th>
                        <td >{{object.ubicacion}}</td>
                    </tr>
                    <tr>
                        <th>Responsable:</th>
                        <td colspan="4">{{object.responsable}}</td>
                    </tr>
                    <tr>
                        <th>Categoria:</th>
                        <td >{{object.categoria}}</td>
                        <th>Condicion:</th>
                        <td >{{object.condicion}}</td>
                    </tr>
                    <tr>
                        <th>Nombre:</th>
                        <td colspan="4">{{object.descripcion}}</td>
                    </tr>
                    <tr>
                        <th>Marca:</th>
                        <td >
                            {% if object.marca %}
                            {{object.marca}}
                            {% else %}
                            N/A
                            {% endif %}
                        </td>
                        <th>Modelo:</th>
                        <td >
                            {% if object.modelo %}
                            {{object.modelo}}
                            {% else %}
                            N/A
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th>Serie:</th>
                        <td>
                            {% if object.serie %}
                            {{object.serie}}
                            {% else %}
                            N/A
                            {% endif %}
                        </td>
                        <th>Serie MIES:</th>
                        <td >
                            {% if object.codigoMies %}
                            {{object.codigoMies}}
                            {% else %}
                            N/A
                            {% endif %}
                        </td>
                    </tr>
                  
                  
                    <tr class="text-center">
                        <th>Foto:</th>
                        <td colspan="4">
                            {% if object.foto %}
                            <img class="img-rounded " src="{{object.foto.url}}" alt="" width="304" height="336" >
                            {% else %}
                            N/A
                            {% endif %}
                        </td>
                    </tr>
                    {% for a in items %}
                    <tr>
                        <th>Periferico: </th>
                        <td colspan="5">{{a.periferico}}</td>
                        <th>Cantidad:</th>
                        <td colspan="2">{{a.cantidad }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
           

        </div>
        
       
    </div>

</div>