<div class="modal-dialog modal-lg ">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Detalle Registro</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <div class="modal-body">
            <table class="table table-bordered table-responsive-sm table-responsive-xl">

                {% if object.categoria == '1' %}
                <tbody>

                    <tr>
                        <th>CATEGORIA:</th>
                        <td>COMPUTADORAS</td>
                        <th>ESTADO:</th>
                        <td>
                            {% if object.estado == '1'%}
                            <span class="badge badge-success">BUENO</span>

                            {% endif %}

                            {% if object.estado == '2'%}
                            <span class="badge badge-warning">REGULAR</span>

                            {% endif %}

                            {% if object.estado == '3'%}
                            <span class="badge badge-danger">MALO</span>

                            {% endif %}

                        </td>
                    </tr>
                    <tr>
                        <th>NOMBRE EQUIPO:</th>
                        <td>
                            {% if object.nombreEquipo is none%}
                            N/A
                            {% else %}
                            {{object.nombreEquipo}}
                            {% endif %}
                        </td>

                        <th>TIPO EQUIPO:</th>
                        <td>
                           
                            
                            {% if object.tipoEquipo is none%}
                            N/A
                            {% else %}
                            {{object.tipoEquipo}}
                            {% endif %}
                            
                        </td>
                    </tr>

                    <tr>
                        <th>MARCA:</th>
                        <td>
                            {% if object.marca %}
                            {{object.marca}}
                            {% else %}
                            N/A
                            {% endif %}
                        </td>
                        <th>MODELO:</th>
                        <td>
                            {% if object.modelo %}
                            {{object.modelo}}
                            {% else %}
                            N/A
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th>SERIE:</th>
                        <td>
                            {% if object.serie %}
                            {{object.serie}}
                            {% else %}
                            N/A
                            {% endif %}
                        </td>
                        <th>CÓDIGO MIES:</th>
                        <td>
                            {% if object.codigoMies %}
                            {{object.codigoMies}}
                            {% else %}
                            N/A
                            {% endif %}
                        </td>
                    </tr>

                    <tr>
                        <th>PROCESADOR:</th>
                        <td>
                            {% if object.capacidadProcesador %}
                            {{object.capacidadProcesador}}
                            {% else %}
                            N/A
                            {% endif %}
                        </td>
                        <th>CAPACIDAD DISCO DURO:</th>
                        <td>
                            {% if object.capacidadDisco %}
                            {{object.capacidadDisco}}
                            {% else %}
                            N/A
                            {% endif %}
                        </td>

                    </tr>
                    <tr>
                        <th>RAM:</th>
                        <td>
                            {% if object.capacidadMemoriaRam %}
                            {{object.capacidadMemoriaRam}}
                            {% else %}
                            N/A
                            {% endif %}
                        </td>
                        <th>SISTEMA OPERATIVO:</th>
                        <td>
                            
                
                            {% if object.sistemaOperativo is none%}
                            N/A
                            {% else %}
                            {{object.sistemaOperativo}}
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th>DIRECCIÓN IP:</th>
                        <td>
                            {% if object.direccionIp %}
                            {{object.direccionIp}}
                            {% else %}
                            N/A
                            {% endif %}
                        </td>
                        <th>DIRECCIÓN MAC:</th>
                        <td>
                            {% if object.direccionMac %}
                            {{object.direccionMac}}
                            {% else %}
                            N/A
                            {% endif %}
                        </td>

                    </tr>

                    <tr>
                        <th>SOFTWARE ANTIVIRUS:</th>
                        <td>
                          
                            {% if object.antivirus is none%}
                            N/A
                            {% else %}
                            {{object.antivirus}}
                            {% endif %}
                           
                        </td>
                        <th>SOFTWARE ADICIONAL:</th>
                        <td>
                            {% if object.softwareAdicional is none%}
                            N/A
                            {% else %}
                            {{object.softwareAdicional}}
                            {% endif %}
                        </td>

                    </tr>

                    <tr>
                        <th>OBSERVACIÓN:</th>
                        <td colspan="12"> 
                            {% if object.observacion is none%}
                            N/A
                            {% else %}
                            {{object.observacion}}
                            {% endif %}
                        </td>
                    </tr>
                    <tr class="text-center">
                        <th>Foto:</th>
                        <td colspan="8">
                            {% if object.foto %}
                            <img class="img-rounded " src="{{object.foto.url}}" alt="" width="600" height="400">
                            {% else %}
                            N/A
                            {% endif %}
                        </td>
                    </tr>
                </tbody>

                {% endif %}

                {% if object.categoria == '2' %}
                <tbody>

                    <tr>
                        <th>CATEGORIA:</th>
                        <td>IMPRESORAS</td>
                        <th>ESTADO:</th>
                        <td>
                            {% if object.estado == '1'%}
                            <span class="badge badge-success">BUENO</span>

                            {% endif %}

                            {% if object.estado == '2'%}
                            <span class="badge badge-warning">REGULAR</span>

                            {% endif %}

                            {% if object.estado == '3'%}
                            <span class="badge badge-danger">MALO</span>

                            {% endif %}

                        </td>
                    </tr>
                    <tr>
                       

                        <th>TECNOLOGIA:</th>
                        <td>
                         
                            {% if object.tecnologia is none%}
                            N/A
                            {% else %}
                            {{object.tecnologia}}
                            {% endif %}

                        </td>

                        

                        <th>TIPO:</th>
                        <td>
                            {% if object.tipoImpresora is none%}
                            N/A
                            {% else %}
                            {{object.tipoImpresora}}
                            {% endif %}
                        </td>
                    </tr>

                    <tr>
                        <th>MARCA:</th>
                        <td>
                            {% if object.marca %}
                            {{object.marca}}
                            {% else %}
                            N/A
                            {% endif %}
                        </td>
                        <th>MODELO:</th>
                        <td>
                            {% if object.modelo %}
                            {{object.modelo}}
                            {% else %}
                            N/A
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th>SERIE:</th>
                        <td>
                            {% if object.serie %}
                            {{object.serie}}
                            {% else %}
                            N/A
                            {% endif %}
                        </td>
                        <th>CÓDIGO MIES:</th>
                        <td>
                            {% if object.codigoMies %}
                            {{object.codigoMies}}
                            {% else %}
                            N/A
                            {% endif %}
                        </td>
                    </tr>

                   
                  
                    <tr>
                        <th>DIRECCIÓN IP:</th>
                        <td>
                            {% if object.direccionIp %}
                            {{object.direccionIp}}
                            {% else %}
                            N/A
                            {% endif %}
                        </td>
                        <th>DIRECCIÓN MAC:</th>
                        <td>
                            {% if object.direccionMac %}
                            {{object.direccionMac}}
                            {% else %}
                            N/A
                            {% endif %}
                        </td>

                    </tr>

                 

                    <tr>
                        <th>OBSERVACIÓN:</th>
                        <td colspan="12"> 
                            {% if object.observacion is none%}
                            N/A
                            {% else %}
                            {{object.observacion}}
                            {% endif %}
                        </td>
                    </tr>
                    <tr class="text-center">
                        <th>Foto:</th>
                        <td colspan="8">
                            {% if object.foto %}
                            <img class="img-rounded " src="{{object.foto.url}}" alt="" width="600" height="400">
                            {% else %}
                            N/A
                            {% endif %}
                        </td>
                    </tr>
                </tbody>


                {% endif %}

                {% if object.categoria == '3' %}
                <tbody>

                    <tr>
                        <th>CATEGORIA:</th>
                        <td>OTROS DISPOSITIVOS</td>
                        <th>ESTADO:</th>
                        <td>
                            {% if object.estado == '1'%}
                            <span class="badge badge-success">BUENO</span>

                            {% endif %}

                            {% if object.estado == '2'%}
                            <span class="badge badge-warning">REGULAR</span>

                            {% endif %}

                            {% if object.estado == '3'%}
                            <span class="badge badge-danger">MALO</span>

                            {% endif %}

                        </td>
                    </tr>
                    <tr>
                       

                        <th>TIPO DISPOSITIVO:</th>
                        <td colspan="12">
                            {% if object.tipoDispositivo is none%}
                            N/A
                            {% else %}
                            {{object.tipoDispositivo}}
                            {% endif %}
                           

                        </td>

 
                    </tr>

                    <tr>
                        <th>MARCA:</th>
                        <td>
                            {% if object.marca %}
                            {{object.marca}}
                            {% else %}
                            N/A
                            {% endif %}
                        </td>
                        <th>MODELO:</th>
                        <td>
                            {% if object.modelo %}
                            {{object.modelo}}
                            {% else %}
                            N/A
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th>SERIE:</th>
                        <td>
                            {% if object.serie %}
                            {{object.serie}}
                            {% else %}
                            N/A
                            {% endif %}
                        </td>
                        <th>CÓDIGO MIES:</th>
                        <td>
                            {% if object.codigoMies %}
                            {{object.codigoMies}}
                            {% else %}
                            N/A
                            {% endif %}
                        </td>
                    </tr>

                    <tr>
                        <th>OBSERVACIÓN:</th>
                        <td colspan="12"> 
                            {% if object.observacion is none%}
                            N/A
                            {% else %}
                            {{object.observacion}}
                            {% endif %}
                        </td>
                    </tr>
                    <tr class="text-center">
                        <th>FOTO:</th>
                        <td colspan="8">
                            {% if object.foto %}
                            <img class="img-rounded " src="{{object.foto.url}}" alt="" width="600" height="400">
                            {% else %}
                            N/A
                            {% endif %}
                        </td>
                    </tr>
                </tbody>

                {% endif %}


            </table>


        </div>


    </div>

</div>