{% extends 'base_generic.html' %}
{% load static %}
{% block title %}EQUIPOS {% endblock title %}

{% block content_main %}
<!-- Page Heading -->
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Home</a></li>
        <li class="breadcrumb-item"><a href="{% url 'custodia_listar' %}">Custodia</a></li>
        <li class="breadcrumb-item active" aria-current="page">Dispositivo</li>
    </ol>
</nav>
<div class="container-fluid">
    <!-- DataTales -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <div class="row ">
                <div class="col-md-6">
                    <h6 class="m-0 font-weight-bold text-primary">Listado de equipos, impresoras y otros dispositivos
                    </h6>
                </div>
                <div class="col-md-4">
                    <div class="dropdown float-right">
                        <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Configuraciones
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

                            {% if perms.inventario.view_tipoimpresora %}
                            <a class="dropdown-item" href="{% url 'tipo_impresora_listar'%}">Tipo impresora</a>
                            {% endif %}
                            {% if perms.inventario.view_tipoequipo %}
                            <a class="dropdown-item" href="{% url 'tipo_equipo_listar'%}">Tipo equipo</a>
                            {% endif %}

                            {% if perms.inventario.view_tipodispositivo %}
                            <a class="dropdown-item" href="{% url 'tipo_dispositivo_listar' %}">Tipo dispositivo</a>
                            {% endif %}

                            {% if perms.inventario.view_impresoratecnologia %}
                            <a class="dropdown-item" href="{% url 'tecnologia_impresora_listar'%}">Tecnologia
                                impresora</a>
                            {% endif %}
                            {% if perms.inventario.view_softwareofimatica %}
                            <a class="dropdown-item" href="{% url 'software_ofimatica_listar'%}">Software Ofimática</a>
                            {% endif %}
                            {% if perms.inventario.view_softwareantivirus %}
                            <a class="dropdown-item" href="{% url 'software_antivirus_listar'%}">Software Antivirus</a>
                            {% endif %}
                            {% if perms.inventario.view_sistemaoperativo %}
                            <a class="dropdown-item" href="{% url 'sistema_operativo_listar'%}">Sistemas Operativos</a>
                            {% endif %}
                            {% if perms.inventario.view_marca %}

                            <a class="dropdown-item"
                                href="{% url 'marca_listar'%}">
                                Marca</a>
                            {% endif %}
                            {% if perms.inventario.view_modelo %}
                            <a class="dropdown-item"
                                href="{% url 'modelo_listar'%}">
                                Modelo</a>
                            {% endif %}


                            {% if perms.inventario.view_capacidaddisco %}
                            <a class="dropdown-item"
                                href="{% url 'capacidad_disco_listar'%}"> Capacidad Disco</a>
                            {% endif %}


                            {% if perms.inventario.view_capacidadmemoriaram %}
                            <a class="dropdown-item"
                                href="{% url 'capacidad_memoria_ram_listar'%}">Capacidad Ram</a>
                            {% endif %}


                            {% if perms.inventario.view_procesador %}
                            <a class="dropdown-item  "
                                href="{% url 'procesador_listar'%}">                     Procesador</a>
                            {% endif %}



                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="dropdown float-right">
                        <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Acciones
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

                            {% if perms.inventario.add_dispositivo %}
                            <a class="dropdown-item" href="{% url 'dispositivo_crear'%}">Nuevo Dispositivo</a>
                            {% endif %}


                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-sm" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>

                            <th><b>CATEGORIA</b></th>
                            <th><b>NOMBRE EQUIPO</b></th>
                            <th><b>DIRECCIÓN IP</b></th>
                            <th><b>DIRECCIÓN MAC</b></th>
                            <th><b>MARCA</b></th>
                            <th><b>MODELO</b></th>
                            <th><b>SERIE</b></th>
                            <th><b>CÓDIGO MIES</b></th>
                            <th><b>ESTADO</b></th>
                            <th><b>ACCIONES</b></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for dispositivo in object_list %}
                        <tr>
                            <td>


                                {% if dispositivo.categoria == '1' %}
                                <span>COMPUTADORAS</span>
                                {% endif%}

                                {% if dispositivo.categoria == '2' %}
                                <span>IMPRESORAS</span>
                                {% endif%}
                                {% if dispositivo.categoria == '3' %}
                                <span>OTROS DISPOSITIVOS</span>
                                {% endif%}



                            </td>
                            <td>
                                {% if dispositivo.nombreEquipo is none %}
                                N/A
                                {% else%}
                                {{ dispositivo.nombreEquipo }}
                                {% endif%}

                            </td>
                            <td>
                                {% if dispositivo.direccionIp is none %}
                                N/A
                                {% else%}
                                {{ dispositivo.direccionIp }}
                                {% endif%}
                            </td>
                            <td>
                                {% if dispositivo.direccionMac is none %}
                                N/A
                                {% else%}
                                {{ dispositivo.direccionMac }}
                                {% endif%}
                            </td>
                            <td>
                                {% if dispositivo.marca is none %}
                                N/A
                                {% else%}
                                {{ dispositivo.marca }}
                                {% endif%}
                            </td>

                            <td>
                                {% if dispositivo.modelo is none %}
                                N/A
                                {% else%}
                                {{ dispositivo.modelo }}
                                {% endif%}
                            </td>
                            <td>
                                {% if dispositivo.serie is none %}
                                N/A
                                {% else%}
                                {{ dispositivo.serie }}
                                {% endif%}
                            </td>
                            <td>
                                {% if dispositivo.condigoMies is none %}
                                N/A
                                {% else%}
                                {{ dispositivo.condigoMies }}
                                {% endif%}
                            </td>

                            <td>

                                {% if dispositivo.estado == '1'%}
                                <span class="badge badge-success">BUENO</span>

                                {% endif %}

                                {% if dispositivo.estado == '2'%}
                                <span class="badge badge-warning">REGULAR</span>

                                {% endif %}

                                {% if dispositivo.estado == '3'%}
                                <span class="badge badge-danger">MALO</span>
                                {% endif %}
                            </td>

                            <td>
                                <a data-toggle="popover" title="Ver" class="btn btn-light btn-sm "
                                    onclick="abrirModalDetalle('{% url 'dispositivo_detalle' dispositivo.id %}')">
                                    <i data-toggle="popover" title="Ver" class="fa fa-eye"></i>
                                </a>

                                {% if perms.inventario.change_dispositivo %}
                                <button data-toggle="popover" title="Editar" id="modalEditarZona"
                                    class="btn btn-light btn-sm"
                                    onclick="abrirModalEditar('{% url 'dispositivo_editar' dispositivo.id %}')">
                                    <i data-toggle="popover" title="Editar" class="fa fa-edit"></i>
                                </button>
                                {% endif %}


                                {% if perms.inventario.delete_dispositivo %}
                                <a data-toggle="popover" title="Eliminar" class="btn btn-light btn-sm"
                                    onclick="abrirModalEliminar('{% url 'dispositivo_eliminar' dispositivo.id %}')">
                                    <i data-toggle="popover" title="Eliminar" class="fa fa-trash"></i>
                                </a>
                                {% endif %}

                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>


</div>


<!-- Modal Editar -->
<div class="modal fade bd-example-modal-lg" tabindex="-1" id="editar" role="dialog">

</div>

<!-- Modal Eliminar -->
<div class="modal fade" id="eliminar" role="dialog">

</div>

<!-- Large modal -->
<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" id="detalle" aria-hidden="true">

</div>


{% endblock content_main%}


{% block content_extra_js %}

{% endblock content_extra_js %}