<div class="modal-dialog modal-lg"  role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Editar Registro</h5>
           
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% if form.errors %}
  
        <div class="alert alert-danger" role="alert">
            <h5 class="icon fas fa-bin">Error al guardar el registro!</h5>
            <ul>
                {% for field in form %}
                    {% for error in field.errors %}
                    <li>
                        {{error}}
                    </li>
                    {% endfor %}
                {% endfor %}
            </ul>
  
        </div>
        {% endif %}
        
        
        
        <form action="{% url 'inv_tics_editar' object.id %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            
            <div class="modal-body">
                <div class='form-row'>
                    <div class="form-group col-md-4">
                        {{form.fechaIngreso.label}}
                        {{form.fechaIngreso}}
                    </div>
                    <div class="form-group col-md-8">
                        {{form.responsable.label}}
                        {{form.responsable}}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        {{form.ubicacion.label}}
                        {{form.ubicacion}}
                    </div>
                    <div class="form-group col-md-6">
                        {{form.categoria.label}}
                        {{form.categoria}}
                    </div>
                </div>
                <div class="form-group">
                    {{form.descripcion.label}}
                    {{form.descripcion}}
                </div>
                
                <div class="form-row">
                    <div class="form-group col-md-5">
                        {{form.marca.label}}
                        {{form.marca}}
                    </div>
                    <div class="form-group col-md-4">
                        {{form.modelo.label}}
                        {{form.modelo}}
                    </div>
                    <div class="form-group col-md-3">
                        {{form.condicion.label}}
                        {{form.condicion}}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        {{form.serie.label}}
                        {{form.serie}}
                    </div>
                    <div class="form-group col-md-6">
                        {{form.codigoMies.label}}
                        {{form.codigoMies}}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-5">
                        {{form.cantidad.label}}
                        {{form.cantidad}}
                    </div>
                    <div class="form-group col-md-5">
                        {{form.foto.label}}
                        {{form.foto}}
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="submit" class="btn btn-primary">Guardar cambios</button>
            </div>
        </form>
    </div>
  </div>