<div class="modal-dialog modal-lg ">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Detalle Registro</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <div class="modal-body">
            <table class="table table-bordered table-responsive-sm table-responsive-xl">
                <tbody>
                    <tr>

                        <th>Fecha:</th>
                        <td> <b>{{object.fecha}}</b> </td>
                        <th>Estado:</th>
                        <td>
                            {% if object.estado%}
                            <span class="badge badge-success">Vigente</span>
                            {% else %}
                            <span class="badge badge-danger">No Vigente</span>
                            {% endif %}

                        </td>
                    </tr>
                    <tr>
                        <th>Custodio Actual:</th>
                        <td colspan="4">{{object.custodio}}</td>
                    </tr>
                    <tr>
                        <th>Custodio Anterior:</th>
                        <td colspan="4">
                            
                            {% if object.custodioAnterior is none %}
                                SIN CUSTODIO ANTERIOR
                            {% endif %}
                                
                        </td>
                    </tr>
                    <tr>
                        <th>Ubicación:</th>
                        <td colspan="4">
                            {{object.ubicacion}}
                        </td>
                    </tr>
                    <tr>
                        <th>Equipo:</th>
                        <td>
                            {{object.equipo.descripcion}}
                        </td>
                        <th>Serie:</th>
                        <td>
                             {% if object.equipo.serie is none %}
                            <p>-</p>
                            {% else %}
                            {{ object.equipo.serie }}
                            {% endif%}
                        </td>
                    </tr>
                    <tr>
                        <th>Codigo Mies:</th>
                        <td>
                            {% if object.equipo.codigoMies is none %}
                            <p>-</p>
                            {% else %}
                            {{ object.equipo.codigoMies }}
                            {% endif%}
                        </td>
                        <th>Categoria:</th>
                        <td>
                            {{object.equipo.categoria}}
                        </td>
                    </tr>

                    <tr>
                        <th>dirección Ip:</th>
                        <td>
                            {% if object.equipo.direccionIp is none %}
                            <p>-</p>
                            {% else %}
                            {{ object.equipo.direccionIp }}
                            {% endif%}
                        </td>
                        <th>Dirección Mac:</th>
                        <td>
                            {% if object.equipo.direccionMac is none %}
                            <p>-</p>
                            {% else %}
                            {{ object.equipo.direccionMac }}
                            {% endif%}
                        </td>
                    </tr>
                </tbody>
            </table>
           

        </div>
       
        </form>
    </div>

</div>